﻿/*
	Design by Mooid Lab SC
	http://Mooid.mx/	
	
	Ejemplo de path para imagen:
	background: url(/imgs/imagen.jpg);
*/

*{
	margin: 0px;
	padding: 0px;
}*

body {
	background: #ffffff;
	font: normal 9pt 'helvetica',Trebuchet MS, sans-serif;
	color: #505050;
}

h1,h2,h3,h4,h5,h6{
	color: #97C900;
	font: bold 10pt 'helvetica',Trebuchet MS, sans-serif;
}

a, a:active, a:focus, a:visited  {
	text-decoration: none;
	color: #505050;
}

a:hover  {
	color: #97C900;
}	
	

ul{
	margin: 10px 20px;
}
li {
	margin: 0px;
	list-style: none;
}

/********************************
*		ID	Structure			*
********************************/
#bodyWrap {
	width: 1000px;
	padding: 0px;
	margin: 0px auto;
	overflow: hidden;
}
	#header {
		width: 1000px;
		padding: 0px 0px 0px 0px;
		height: 50px;
		clear: both;
	}
		#header .direccion{
			width: 750px;
			padding-top: 10px;
			height: 40px;
			float: left;
			color: #676767;
			font-weight: bold;
		}
		#header .logo{
			text-align:center;
			width: 250px;
			height: 50px;
			float: right;
		}
	#content {
		margin: 10px 0px;
		width: 1000px;
		position: relative;
	}
		#content #cmid{			
			width: 940px;
			padding: 0px 30px;
			min-height: 400px;	
			overflow:hidden;
		}
			#cmid .left{
					margin: 50px 0px 0px 0px;
					width: 50%;
					float: left;
			}
			#cmid .right{
					margin: 100px 0px 0px 0px;
					width: 50%;					
					float: left;
			}

/****************************************
*	CLASES PARA ALINEACION DE TEXTO		*
****************************************/

.textAlignRight{
	text-align: right;
}
.textAlignleft{
	text-align: left;
}
.textAlignCenter{
	text-align: center;
}

/********************************
*			FORMS				*
********************************/

fieldset{
	padding: 10px;
}

legend{
	font-weight: bold;
}

fieldset label{
	width: 140px;
	text-align: right;
	margin: 0px 10px 5px 0px;
	display: inline-block;
	font-weight: bold;
}

fieldset input, fieldset select, fieldset input.check, fieldset input.dot{
	width: 150px;	
	margin: 0px 0px 5px 0px;
}

fieldset input.btn{
	width: 150px;
	margin: 0px 0px 5px 150px;
}

.colLeft{
	float:left;
	overflow: hidden;
	width: 335px;
}
.colRight{
	float:right;
	overflow: hidden;
	width: 335px;
}

span.error{
	margin: 0px 0px 0px 5px;
	padding: 2px 5px;
	background-color: #FFD8DB;
	display: inline-block;
}

/********************************
*			VARIAS				*
********************************/

.formFiltro{
	margin: 10px 0px;
	overflow:hidden;
	text-align: right;
}


table{
	width: 100%;
}


th{
	height: 40px;
}

td{
	height: 30px;
}

.gray{
	background-color:#FBFBFB;
}