html, body{
	margin:0 auto;
	padding:0;
}
body {
background: url("../img/san_valentin/bg_papel_valentin.jpg") center top repeat;

position:relative;
display: block;
/*background-color:#2E3494;*/
margin-bottom:0px;
}
.bground{
	position:relative;
	height:130px;
	
	background: url("../img/san_valentin/cont_footer_color.png") repeat;
	 margin-top: -125px;
	 z-index:-1;
	
}
.bground1{
	position:relative;
	height:120px;
	
	background: url("../img/san_valentin/cenefa_valentin.png") repeat-x;
	 
	 z-index:-1;
	
}



.bground15{
	position:absolute;
	/*top:-60px !important;
	left:50%;
	margin-left:-500px;*/
	height:100%;
	width:100%;
	background: url("../img/san_valentin/fondo_textura_valentin.png") left top repeat;
	 
	 z-index:-1;
	
}

.colorrosa{
	color:#E32E7A;
	
	
}

.proximamente{
	position:absolute;
	height:32px;
	width: 124px;
	background: url("../img/proximamente.png") repeat;
	display:none;
	z-index:100;
	}
.clearer {
  clear:both;
  display:block;
}
.transparent{
	zoom: 1;
	filter: alpha(opacity=30);
	opacity: 0.3;
}
.letra1m2{
	font-family:'RumpelstiltskinRegular';
	color: #E13300; 
	font-size: 30px; 
	margin-left: 95px !important; 
	margin-top: 0px !important;
	margin-bottom:32px;
	font-weight:bold;
}
}
.letra1{
	font-family:'RumpelstiltskinRegular';
	font-size: 36px;
	color: #00B1BE;
}
.letra2{
	font-family:"IstokWebBold";
	font-size: 14px;
	color: #000;
	width:200px;
}
.letra_destacados{
	font-family:"IstokWebRegular";
	font-size: 14px;
	color: #4d4d4d;
	
}
.letra3{
	font-family:'IstokWebBold';
	font-size: 11px;
	color: #fff;
	margin-left:5px;
	width: 190px;
	line-height:12px;
	margin-top:5px;
}
.letra4{
	font-family:'IstokWebBold';
	font-size: 14px;
	
	color: #f4f4f4;
	margin-left:20px;
	margin-top:30px;
	width: 330px;
}
.letra5{
	font-family:'IstokWebRegular';
	font-size: 14px;
	margin-top:0px;
	color: #f4f4f4;
	margin-left:13px;
	width: 300px;
}
p.justify{
	text-align: justify !important;
}

.shadowr{
	position:absolute;
	background:url("../img/shadow04.png");
	width: 10px;
	height: 558px;
	z-index:1; 
	margin-left: 78px;
	margin-top: 70px;
}
.shadowb{
	position:absolute;
	background:url("../img/shadow02.png");
	width: 779px;
	height: 10px;
	z-index:1; 
	margin-left: -700px;
    margin-top: 622px;
}
/*TIPOS DE LETRA*/
@font-face {
    font-family: 'ArchitectsDaughterRegular';
    src: url('../../font/architectsdaughter-webfont.eot');
    src: url('../../font/architectsdaughter-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/architectsdaughter-webfont.woff') format('woff'),
         url('../../font/architectsdaughter-webfont.ttf') format('truetype'),
         url('../../font/architectsdaughter-webfont.svg#ArchitectsDaughterRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'sf_cartoonist_handregular';
    src: url('../../font/sf_cartoonist_hand-webfont.eot');
    src: url('../../font/sf_cartoonist_hand-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/sf_cartoonist_hand-webfont.woff') format('woff'),
         url('../../font/sf_cartoonist_hand-webfont.ttf') format('truetype'),
         url('../../font/sf_cartoonist_hand-webfont.svg#sf_cartoonist_handregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'IstokWebRegular';
    src: url('../../font/istokweb-regular-webfont.eot');
    src: url('../../font/istokweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/istokweb-regular-webfont.woff') format('woff'),
         url('../../font/istokweb-regular-webfont.ttf') format('truetype'),
         url('../../font/istokweb-regular-webfont.svg#IstokWebRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'IstokWebBold';
    src: url('../../font/istokweb-bold-webfont.eot');
    src: url('../../font/istokweb-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/istokweb-bold-webfont.woff') format('woff'),
         url('../../font/istokweb-bold-webfont.ttf') format('truetype'),
         url('../../font/istokweb-bold-webfont.svg#IstokWebBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RumpelstiltskinRegular';
    src: url('../../font/rumpelstiltskin-webfont.eot');
    src: url('../../font/rumpelstiltskin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../font/rumpelstiltskin-webfont.woff') format('woff'),
         url('../../font/rumpelstiltskin-webfont.ttf') format('truetype'),
         url('../../font/rumpelstiltskin-webfont.svg#RumpelstiltskinRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/**/

/*MENU DE CLASES --- SPRITE*/
.sprite{ background:url("../../img/sprite.png"); }

.anuncio_btn { background-position:  -5px -3px; height: 79px; width: 79px; }
.anuncio_btn:hover { background-position:  -5px -88px; height: 79px; width: 79px; }
.blog_btn { background-position:  0px -173px; height: 79px; width: 79px; }
.blog_btn:hover { background-position:  0px -258px; height: 79px; width: 79px; }
.buttons:hover { background-position:  -87px -0px; height: 33px; width: 282px; }
.clases_btn { background-position:  -369px -0px; height: 33px; width: 282px; }
.clases_btn:hover { background-position:  -651.6px -0px; height: 33px; width: 281px; }
.contact_link { background-position:  -87px -33px; height: 65px; width: 360px; }
.container_anunciate { background: url("../img/anuncio-v02.png"); height: 370px; width: 350px; }
.container_blog { background-position:  -87px -475px; height: 360px; width: 290px; }
.detodo_btn { background-position:  -437px -33px; height: 33px; width: 282px; }
.detodo_btn:hover { background-position:  -726px -33px; height: 33px; width: 275px; }
.diversion_btn { background-position:  -87px -838px; height: 33px; width: 282px; }
.diversion_btn:hover { background-position:  -87px -871px; height: 33px; width: 282px; }
.fiesta_btn { background-position:  -97px -904px; height: 33px; width: 250px; }
.fiesta_btn:hover { background-position:  -97px -937px; height: 33px; width: 250px; }
.gallery_btn_next { background-position:  -0px -340px; height: 22px; width: 25px; }
.gallery_btn_next:hover { background-position:  -25px -340px; height: 22px; width: 25px; }
.gallery_btn_prev { background-position:  -50px -340px; height: 22px; width: 25px; }
.gallery_btn_prev:hover { background-position:  -0px -362px; height: 22px; width: 25px; }
.logo_principal { background: url("../img/Inicio_LogoEnfant_285x150px_v2.png") no-repeat; height: 150px; width: 285px; margin-top:0px;}
.mama_btn { background-position:  -713px -98px; height: 33px; width: 282px; }
.mama_btn:hover { background-position:  -717px -131px; height: 33px; width: 278px; }
.ropa_btn { background-position:  -717px -164px; height: 33px; width: 280px; }
.ropa_btn:hover { background-position:  -716px -197px; height: 33px; width: 281px; }
.salud_btn {background: url("../img/Menu_MiSalud_250x33px_Normal.png"); height: 33px; width: 250px; }
.salud_btn:hover {background: url("../img/Menu_MiSalud_250x33px_Over.png");  height: 33px; width: 250px; }
.search_bg { background-position:  -437px -286px; height: 18px; width: 258px; position: relative;  border:0; margin: 2px 0 0 -4px;}
.search_btn { background-position:  -817px -286px; height: 35px; width: 84px; position: absolute; top: 0px !important; right: -10px !important; border:0; float:right; z-index: 1;}
.search_btn:hover { background-position:  -537px -321px; height: 35px; width: 84px; }
.search_input { 
background-position: -751px -328px;
    border: 0 none;
    float: left;
    height: 20px;
    position: absolute;
    width: 212px;
    z-index: 1;
    margin-top:-4px;
}
.socialFB_btn { 
background-position:  -0px -384px; 
height: 65px; 
width: 42px; 
margin-left: 53px !important;
    margin-top: 68px !important;
    position: absolute;
    z-index: 100;
}
.socialT_btn { 
 background-position:  -0px -449px; height: 72px; width: 42px;
margin-left: 53px !important;
    margin-top: 250px !important;
    position: absolute;
    z-index: 100;
}
.socialTh_btn{
 background:url("../../img/tumblr.png"); height: 65px; width: 42px;
margin-left: 53px !important;
    margin-top: 125px !important;
    position: absolute;
    z-index: 100;

}
.socialPint_btn{
 background:url("../../img/globo-pinterest.png"); height: 65px; width: 42px;
margin-left: 53px !important;
    margin-top: 182px !important;
    position: absolute;
    z-index: 100;

}
.socialFB_btn1 { 
background-position:  -0px -384px; 
height: 65px; 
width: 42px; 
margin-left: 28px !important;
    margin-top: 68px !important;
    position: absolute;
    z-index: 100;
}
.socialT_btn1 { 
 background-position:  -0px -449px; height: 72px; width: 42px;
margin-left: 28px !important;
    margin-top: 250px !important;
    position: absolute;
    z-index: 100;
}
.socialTh_btn1{
 background:url("../img/tumblr.png"); height: 65px; width: 42px;
margin-left: 28px !important;
    margin-top: 125px !important;
    position: absolute;
    z-index: 100;

}
.socialPint_btn1{
 background:url("../../img/globo-pinterest.png"); height: 65px; width: 42px;
margin-left: 28px !important;
    margin-top: 182px !important;
    position: absolute;
    z-index: 100;

}
.star_fb_btn { background-position:  -42px -384px; height: 35px; width: 37px; }
.star_fb_btn:hover { background-position:  -42px -449px; height: 35px; width: 37px; }
.star_tweet_btn { background-position:  -42px -484px; height: 35px; width: 37px; }
.star_tweet_btn:hover { background-position:  -0px -521px; height: 35px; width: 37px; }
.mooid{ background:url("../../img/mooid_icon_30x.png"); background-position:0px 0px; height: 30px; width: 70px; display:block; float:right; margin-top:-5px;}
.mooid:hover{background-position:0px -30px; }
.footerfb{ background:url("../../img/san_valentin/iconos_footer_valentin_face.png"); height: 45px; width: 45px; background-position:0px 0px;}
.footerfb:hover{background-position:0px 45px;}
.footertw{ background:url("../../img/san_valentin/iconos_footer_valentin_twit.png"); height: 45px; width: 45px;  background-position:0px 0px;}
.footertw:hover{background-position:0px 45px;}
.footerth{ background:url("../../img/san_valentin/iconos_footer_valentin_tumb.png"); height: 45px; width: 45px; margin-left: 10px; background-position:0px 0px;}
.footerth:hover{background-position:0px -45px;}
.footerpin{ background:url("../../img/san_valentin/iconos_footer_valentin_pint.png");background-position:0px 0px; height: 45px; width: 45px; margin-left: 10px;}
.footerpin:hover{background-position:0px 45px;}

.sprite3{ background:url("../../img/sprite2.png"); }


.back_bnt { background-position:  -0px -0px; height: 25px; width: 25px; }
.back_bnt:hover{ background-position:  -0px -25px; height: 25px; width: 25px; }
.clases2_btn { background-position:  -25px -0px; height: 30px; width: 200px; }
.clases2_btn:hover{ background-position:  -25px -35px; height: 30px; width: 200px; }
.contact_bg { background-position:  -229px -0px; height: 160px; width: 190px; }
.contact_btn { background-position:  -25px -70px; height: 22px; width: 66px; cursor:pointer; margin-top:5px !important; }
.contact_btn:hover { background-position:  -93px -70px; height: 22px; width: 66px; }
.contact_dropdown_btn { background-position:  -25px -92px; height: 21px; width: 191px; }
.contact_input { background-position:  -25px -113px; height: 19px; width: 191px; margin-left:5px;}
.diversion2_btn { background-position:  -25px -134px; height: 35px; width: 200px; }
.diversion2_btn:hover { background-position:  -25px -169px; height: 35px; width: 200px; }
.fiesta2_btn { background-position:  -25px -204px; height: 35px; width: 182px; }
.fiesta2_btn:hover { background-position:  -25px -239px; height: 35px; width: 182px; }
.info_btn { background-position:  -161px -70px; height: 22px; width: 42px; }
.info_btn:hover{ background-position:  -25px -274px; height: 22px; width: 42px; }
.kid { 
	background-position:  -25px -296px;height: 85px; width: 85px; 
margin-left:710px !important; margin-top: 2px !important;
 }
.logo_principal2 { background: url("../img/LogoEnfant_210x120_v3.png"); height: 120px; width: 210px; }
.mama2_btn { background-position:  -25px -381px; height: 35px; width: 200px; }
.mama2_btn:hover { background-position:  -25px -416px; height: 35px; width: 200px; }
.next_pic { background-position:  -0px -50px; height: 25px; width: 22px; }
.next_pic:hover { background-position:  -0px -75px; height: 25px; width: 22px; }
.over { background-position:  -235px -316px; height: 170px; width: 185px; }
.pause_pic { background-position:  -0px -100px; height: 25px; width: 25px; }
.pause_pic:hover { background-position:  -0px -125px; height: 25px; width: 25px; }
.ropa2_btn { background-position:  -25px -451px; height: 30px; width: 200px; }
.ropa2_btn:hover { background-position:  -446px -0px; height: 30px; width: 200px; }
.salud2_btn { background: url("../img/Menu_MiSalud_200x30px_Normal.png"); height: 30px; width: 160px;  }
.salud2_btn:hover { background: url("../img/Menu_MiSalud_200x30px_Over.png"); height: 30px; width: 160px; }
.search2_bg { background-position:  -656px -35px; height: 18px; width: 200px; }
.search2_input { 
 background-position:  -449px -70px; 
 height: 30px; 
 width: 139px; 
 position: absolute;
 z-index: 1;
 border:none;
 margin:-9px 1px;
 }
.search2_send_btn { 
 background-position:  -700px -70px; 
 height: 35px; 
 width: 100px; 
 position: absolute;
 z-index: 5; 
 cursor:pointer;
 border:none;
 margin:-9px 105px;
 }
.search2_send_btn:hover { background-position:  -526px -105px;}
.todo2_btn { background-position:  -726px -105px; height: 35px; width: 193px; }
.todo2_btn:hover { background-position:  -446px -140px; height: 35px; width: 193px;}

.sprite_btn{ background:url("../img/btn.png"); }
.back_bnt { background-position:  -0px -0px; height: 25px; width: 22px; }
.back_bnt:hover { background-position:  -0px -25px; height: 25px; width: 22px; }
.next_pic { background-position:  -0px -50px; height: 25px; width: 22px; }
.next_pic:hover{ background-position:  -0px -75px; height: 25px; width: 22px; }
.pause_pic { background-position:  -0px -100px; height: 25px; width: 25px; }
.pause_pic:hover { background-position:  -0px -125px; height: 25px; width: 25px; color:#999999;}
.campo_participa{background:url("../img/Campo01_Participa_158x25px_V2.png"); height: 23px; width: 158px;color:#999999; float: left;}
.campo_participa:hover{background:url("../img/Campo01_Participa_158x25px_V2_Over.png"); height: 23px; width: 158px;}
.campo_select_participa{background:url("../img/Campo02_Participa_158x25px_V2.png"); height: 25px; width: 158px;color:#999999; float:left;}
.campo_select_participa:hover{background:url("../img/Campo02_Participa_158x25px_V2_Over.png"); height: 25px; width: 158px;}
.enviar{background:url("../img/Boton_Enviar_77x25px.png"); height: 25px; width:77px; cursor:pointer;}
.enviar:hover{background:url("../img/Boton_Enviar_77x25px_Over.png"); }


.btn_next{background:url("../img/Destacados_Boton_44x25px_Normal.png"); background-position: 0px 0px; height: 25px; width: 22px; }
.btn_next:hover{background:url("../img/Destacados_Boton_44x25px_Over.png"); background-position: 0px 0px; height: 25px; width: 22px; }
.btn_back{ background:url("../img/Destacados_Boton_44x25px_Normal.png"); background-position: 22px 0px; height: 25px; width: 22px; }
.btn_back:hover{background:url("../img/Destacados_Boton_44x25px_Over.png"); background-position: 22px 0px; height: 25px; width: 22px; }

.dirover1{background:url("../img/DirInfantil_MisClases_Over.png") repeat; height: 170px; width:185px; display:block;margin-left:0px;}
.dirover2{background:url("../img/DirInfantil_MiSalud_Over.png")repeat; height: 170px; width:185px;  display:block;margin-left:0px;}
.dirover3{background:url("../img/DirInfantil_MiMama_Over.png")repeat; height: 170px; width:185px;  display:block;margin-left:0px;}
.dirover4{background:url("../img/DirInfantil_MiDiversion_Over.png")repeat; height: 170px; width:185px;  display:block;margin-left:0px;}
.dirover5{background:url("../img/DirInfantil_MiFiesta_Over.png")repeat; height: 170px; width:185px;  display:block;margin-left:0px;}
.dirover6{background:url("../img/DirInfantil_MisAccesorios_Over.png")repeat; height: 170px; width:185px;  display:block;margin-left:0px;}
.dirover7{background:url("../img/over07.png")repeat; height: 170px; width:185px;  display:block;margin-left:0px;}

.masinfo1{background:url("../img/info_btn01.png"); height: 22px; width:42px; cursor:pointer; display:block; float:right; bottom:5px; right:5px;position:absolute;}
.masinfo1:hover{background:url("../img/info_btn02.png"); }
.masinfo2{background:url("../img/info_btn01.png"); height: 22px; width:42px; cursor:pointer; display:block;float:right; bottom:5px; right:5px; position:absolute;}
.masinfo2:hover{background:url("../img/info_btn03.png"); }
.masinfo3{background:url("../img/info_btn01.png"); height: 22px; width:42px; cursor:pointer; display:block;float:right; bottom:5px; right:5px;position:absolute;}
.masinfo3:hover{background:url("../img/info_btn04.png"); }
.masinfo4{background:url("../img/info_btn01.png"); height: 22px; width:42px; cursor:pointer; display:block;float:right; bottom:5px; right:5px;position:absolute;}
.masinfo4:hover{background:url("../img/info_btn05.png"); }
.masinfo5{background:url("../img/info_btn01.png"); height: 22px; width:42px; cursor:pointer; display:block;float:right; bottom:5px; right:5px;position:absolute;} 
.masinfo5:hover{background:url("../img/info_btn06.png"); }
.masinfo6{background:url("../img/info_btn01.png"); height: 22px; width:42px; cursor:pointer; display:block;float:right; bottom:5px; right:5px;position:absolute;}
.masinfo6:hover{background:url("../img/info_btn07.png"); }
.masinfo7{background:url("../img/info_btn01.png"); height: 22px; width:42px; cursor:pointer; display:block;float:right; bottom:5px; right:5px;position:absolute;}
.masinfo7:hover{background:url("../img/info_btn08.png"); }

.btn_gal_next{background:url("../img/DirInfantil_Galeria_BotonSiguiente_normal.png")no-repeat; height: 25px; width:22px; cursor:pointer;display:block;border:0; z-index: 5;}
.btn_gal_next:hover{background:url("../img/DirInfantil_Galeria_BotonSiguiente_over.png")no-repeat;}
.btn_gal_back{background:url("../img/DirInfantil_Galeria_BotonAnterior_normal.png")no-repeat; height: 25px; width:22px; cursor:pointer; display:block;border:0; z-index: 5;}
.btn_gal_back:hover{background:url("../img/DirInfantil_Galeria_BotonAnterior_over.png")no-repeat;}

#wrapp {
	position:relative;
  margin-bottom:0;
  margin-left:auto;
  margin-right:auto;
  margin-top:-110px;
  height: 100%;
  overflow: hidden;	/* Para englobar los elementos de un padre*/

  
}
.wrapp{
	margin-bottom:10px;
  margin-left:auto;
  margin-right:auto;
  margin-top:-10px;
  width: 1000px;
  position:relative;
 
 
	
}
.wrappmaqueta2{
	
	margin-bottom:10px;
  margin-left:auto;
  margin-right:auto;
  margin-top:-10px;
  width: 1000px;
  position:relative;
}
#header .wrapp{
	
	margin-top:15px;
	height: 130px;
	
}
#header .wrapp .shadow_banner{
	
	margin-top:10px;
	margin-left:0px;
	height: 15px;
	width:1008px;
	background:url("../img/BannerSuperior_Sombra_980x15px.png");
}
#header .wrapp .img1{
	width: 700px;
	height: 128px;
	float: left;
	
}

#header .wrapp .img2{
	 width: 390px;
	 height: 128px;
	 float: left;
	 
}
/*Contenido .....*/
#content .wrapp{
	
	margin-top:0px !important;
	height: 860px;
	
}
#content .wrappmaqueta2{
	position:relative;
	margin:auto !important;
	margin: 0px auto 23px !important;
	height: 100%;
	
}

#content .wrapp .con1{
	
	margin-top:0px;
	height: 480px;
	width:1000px;
	
}

#content .wrapp .con1 .primer_con{
	float:left;
	width:285px;
	height:480px;
	
}
#content .wrappmaqueta2 .primer_con_2{
	float:left;
	width:208px;
	height:630px;
	}

#content .wrappmaqueta2 .segundo_con_2{
	float:left;
	width:778px;
	height:740px;
	
}
#content .wrappmaqueta2 .primer_con_2 .logotipo2{
	float:left;
	width: 208px;
	height:120px;
	
	
}
#content .wrappmaqueta2 .primer_con_2 .logotipo2 a{
	display:block;
}


#content .wrappmaqueta2 .primer_con_2  #search2{
	display: block;
	float:left;
	width: 208px;
	height:40px;
	
}
#content .wrappmaqueta2 .primer_con_2  #leftmenu2{
	display:block;
	width:208px;
	height:250px;
	float:left;
	
}

#content .wrappmaqueta2 .primer_con_2  #leftmenu2 ul{
	position:relative;
	float: left;
	
	
}
#content .wrappmaqueta2 .primer_con_2  #leftmenu2 li{

	display:block;
	float: right;
	height: 35px;
	margin: -2px 0px 0px -38px !important;
}
#content .wrappmaqueta2 .primer_con_2  #leftmenu2  a{
	display:block;
}
#content .wrappmaqueta2 .primer_con_2 #formulario{
	float: left;
	width:208px;
	height: 168px;
	margin-left: -10px !important;
}
#content .wrappmaqueta2 .primer_con_2 #formulario input, select{
	font-family: "IstokWebRegular";
	/*color:#4D4D4D;*/
	margin-left: 5px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #bg_nosotros{
	display:block;
	float:left;
	width:778px;
	height:550px;
	margin-left:10px;
	background: url("../img/q-somos.png") center;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_revista{
	display:block;
	float:left;
	width:775px;
	height:550px;
	background-color:#fff;
	margin-left:10px;
	border:solid 1px #fff;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_revista #nubecita{
	display:none;
	position:absolute;
	width:210px;
	height:120px;
	background:url("../img/RevistaOnline_Over_v2.png") no-repeat;
	margin:-85px 615px;
	z-index: 999;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_revista #cargador{
	display:none;
	position:relative;
	width:210px;
	height:120px;
	background:url("../img/4.gif") no-repeat;
	margin:auto;
	z-index: 999;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_beneficios{
	display:block;
	float:left;
	width:778px;
	height:550px;
	margin-left:10px;
	background: url("../img/enfant_beneficios.png") center;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_beneficios p{
	color:#E32E7A;
	font-family:"sf_cartoonist_handregular";
	font-size: 25px;
	width:490px; 
	margin-left:100px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #bg_beneficios .colorb{
	color:#fff;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_beneficios h1{
	color:#E32E7A;
	font-family:"RumpelstiltskinRegular";
	font-size: 36px;
	margin-top:50px;
	margin-left:100px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes{
	display:block;
	float:left;
	width:788px;
	height:700px;
	margin-left:0px;
	margin-top: -8px;
	/*background:url("../img/DriInfantil_BG_800x580px.png");*/
	background-color: #fff;
	
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientesDeTodo{
	display:block;
	float:left;
	width:800px;
	height:580px;
	margin-left:0px;
	background:url("../img/DriInfantil_BG_800x580px.png");
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .buscador{
	
	float:left;
	margin-left:7px;
	position: relative;
	width: 730px; 
	height:500px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .buscador p{
	position:relative;
	float:left;
	margin-left:10px;
	color:#0066CC;
	font-family: 'sf_cartoonist_handregular';
	font-size:25px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .buscador table{
	text-align: left;
	color:#666;
	font-size:18px;
	font-family:'sf_cartoonist_handregular';
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .encabezado{
	display:block;
	float:left;
	width:775px;
	height:30px;
	font-family:'sf_cartoonist_handregular';
	font-size: 25px;
	margin-left:10px;
	margin-top:10px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo{
	width:720px;
	height:530px;
	position:relative;
	clear:both;
	float:left;
	margin-top:10px;
	overflow: hidden;
	margin-left:40px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginado{
	margin:auto;
    font-family: "RumpelstiltskinRegular";
    position: relative;
    width: 170px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .paginado .btn_next_tag{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Over.png"); background-position: 0px 0px; height: 30px; width: 82.5px; margin-top:0px; float:right;}
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginado .btn_next_tag:hover{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Normal.png"); background-position: 0px 0px; height: 30px; width: 82.5px; }
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginado .btn_back_tag{ background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Over.png"); background-position: 82.5px 0px; height: 30px; width: 82.5px; float:left;}
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginado .btn_back_tag:hover{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Normal.png"); background-position: 82.5px 0px; height: 30px; width: 82.5px; }
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar{
	float: right;
    font-family: "RumpelstiltskinRegular";
    margin-right: 8px;
    margin-top: 35px;
    position: relative;
    width: 170px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .paginadobuscar .btn_next_tag{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Over.png"); background-position: 0px 0px; height: 30px; width: 82.5px; margin-top:0px; float:right;}
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar .btn_next_tag:hover{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Normal.png"); background-position: 0px 0px; height: 30px; width: 82.5px; }
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar .btn_back_tag{ background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Over.png"); background-position: 82.5px 0px; height: 30px; width: 82.5px; float:left;}
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar .btn_back_tag:hover{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Normal.png"); background-position: 82.5px 0px; height: 30px; width: 82.5px; }

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1{
	width:770px;
	height:auto;
	position:relative;
	float:left;
	
	margin-left:15px;
	margin-right:10px;
}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja{
    display: block;
    float: left;
    height: auto;
    margin: 0 30px 10px 6px;
    position: relative;
    width: 220px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .encabezadoDeTodo{
    width:220px;
	height:26px;
	background:url("../img/head.png") no-repeat;
	position:relative;
	float:left;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .encabezadoDeTodo h3{
	margin:3px 10px;
	color:#fff;
	font-size:16px;
	font-family:'IstokWebRegular';
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1{
    width:220px;
	height:18px;
	background-color:#f2f2f2;
	position:relative;
	float:left;
	cursor:pointer;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno{
	position:absolute;
	width:432px;
	height:98px;
	background:url("../img/over.png") no-repeat;
	display:none;
	z-index: 99;
	margin-top: -5px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno .informacion{
	position:absolute;
	width:200px;
	height:70px;
	margin:-2px 235px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno .informacion h3{
	color: #FFFFFF;
    font-family: 'IstokWebRegular';
    font-size: 13px;
    font-weight: bold;
    margin: 10px -220px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno .informacion p{
	color:#fff;
	font-size:12px;
	font-family:'IstokWebRegular';
	margin-top:-30px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno2{
	position:absolute;
	width:432px;
	height:98px;
	background:url("../img/overleft.png") no-repeat;
	display:none;
	z-index: 9999;
	margin: -10px -213px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno2 .informacion{
	position:absolute;
	width:600px;
	height:70px;
	margin:-2px 25px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno2 .informacion h3{
	color:#fff;
	font-size:12px;
	font-family:'IstokWebRegular';
	font-weight:bold;
	margin:10px 200px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno2 .informacion p{
	color:#fff;
	font-size:12px;
	font-family:'IstokWebRegular';
	margin-top:-30px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 h4,#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 h5{
	color:#808080;
	font-size:13px;
	font-family:'IstokWebRegular';
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 h4{
	position:absolute;
	margin: 0 10px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 h5{
	
	margin: -22px 133px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2{
    width:220px;
	height:18px;
	background-color:#E3E4E7;
	position:relative;
	float:left;
	cursor:pointer;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno{
	position:absolute;
	width:432px;
	height:98px;
	background:url("../img/over.png") no-repeat;
	display:none;
	z-index: 9999;
	margin-top: -10px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno .informacion{
	position:absolute;
	width:200px;
	height:70px;
	margin:-2px 235px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno .informacion h3{
	color: #FFFFFF;
    font-family: 'IstokWebRegular';
    font-size: 13px;
    font-weight: bold;
    margin: 10px -220px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno .informacion p{
	color:#fff;
	font-size:12px;
	font-family:'IstokWebRegular';
	margin-top:-30px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno2{
	position:absolute;
	width:432px;
	height:98px;
	background:url("../img/overleft.png") no-repeat;
	display:none;
	z-index: 9999;
	margin: -10px -213px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno2 .informacion{
	position:absolute;
	width:600px;
	height:70px;
	margin:-2px 25px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno2 .informacion h3{
	color:#fff;
	font-size:12px;
	font-family:'IstokWebRegular';
	font-weight:bold;
	margin:10px 200px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno2 .informacion p{
	color:#fff;
	font-size:12px;
	font-family:'IstokWebRegular';
	margin-top:-30px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 h4,#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 h5{
	color:#808080;
	font-size:13px;
	font-family:'IstokWebRegular';
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 h4{
	position:absolute;
	margin: 0 10px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 h5{
	
	margin: -22px 133px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .separadorcaja{
    width:45px;
	height:1px;
	position:relative;
	float:left;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido{
	position:relative;
	float:left;
    width:185px;
	height:175px;
	margin-right:5px;
    border: solid 1px #E6E6E6 ; 
    margin-left:5px !important;
    margin-top:10px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido .imagen{
	position:relative;
	float:left;
    width:185px;
	height:80px;
	margin-top:3px;
	margin-left:20px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido .texto{
    position:relative;
	float:left;
    width:170px;
	height:95px;
	margin: 3px 7px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido .texto span{font-size: 14px;font-family:'IstokWebBold'; }
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido .texto p{font-size: 12px;
margin-top: 3px;
text-align: left !important;
color: #4D4D4D;
line-height: 13px;}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido .aparesco {
	position:absolute;
	display:none;
	width:185px;
	height: 175px;
	top:0;
	left:0;
	font-size:11px;
	color:#FFF;
	margin-left:0px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido .aparesco a{
font-family:"IstokWebRegular";
	font-size: 11px;	
	color:#FFF;
	margin-top: -12px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido .aparesco span{font-size: 14px !important;font-family:'IstokWebBold';}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido .aparesco p{ line-height:15px; margin:4px 8px;}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .texto{
	position:relative;
	float:left;
	width:558px;
	height: 140px;
	
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .texto .titulo{
	position:relative;
	float:left;
	width:580px;
	height: 40px;
	
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .texto .titulo h1,h2,h3,h4{
	color:#E32E7A;
	font-family:"IstokWebBold";
	font-size: 32px;
	margin-left: 5px;
    margin-top: 5px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .texto .descripcion{
	position:relative;
	float:left;
	width:580px;
	height: 100px;
	padding: 1px 1px;
	
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .texto .descripcion p{
	color: #4D4D4D;
font-family: "IstokWebBold";
margin-left: 10px;
margin-top: -5px;
text-align: justify;
width: 544px;
}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .imagen{
	position:relative;
	float:left;
	width:210px;
	height: 140px;
	
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .imagen img{
	margin:10px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2{
	position:relative;
	float:left;
	width:auto;
	height: 340px;
	
	background-color:#fff;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2 .espacio{
	position:relative;
	float:left;
	width:5px;
	height: 340px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2 .contenedor_gal{
	position:relative;
	float:left;
	width:760px;
	height: 340px;
	
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2 .contenedor_gal .galeria{
	position:relative;
	float:left;
	width:380px;
	height: 340px;
	z-index: 999;
	background: url("../img/DirInfantil_Marco_380x340px_v2.png") center;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2 .contenedor_gal .foto{
	position:relative;
	width:350px;
	height: 260px;
	margin: 20px 12px;
	z-index: 10;
	
}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2 .btn_gal{
	position:relative;
	float:left;
	width:2px;
	height: 340px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2 .btn_gal input{
	margin-left:-4px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3{
	position:relative;
	float:left;
	width:auto;
	height: 90px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo1{
	float: left;
    height: 50px;
    position: relative;
    width: 780px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo2{
	position:relative;
	float:left;
	width:100%;
	height: 32px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo2 a{
	font-family:"IstokWebRegular";
	color:#E32E7A;
	font-size: 18px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo2 a:hover{
	font-family:"IstokWebRegular";
	color:#00B1bE;
	font-size: 18px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo3{
	position:relative;
	float:left;
	width:100%;
	height: 32px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo3 .facebook{
	font-family:"RumpelstiltskinRegular";
    color:#00549E;
    font-size: 20px;
    margin: 20px 5px;
    position: absolute;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo3 .twitter{
	font-family:"RumpelstiltskinRegular";
	color:#38CCFF;
	font-size: 20px;
	margin: 20px 70px;
    position: absolute;
}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo3 p{
	margin:-13px 5px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .paginado{
	float: right;
    font-family: "RumpelstiltskinRegular";
    margin-right: 39px;
    margin-top: 137px;
    position: relative;
    width: 170px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .paginado .btn_next_tag{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Over.png"); background-position: 0px 0px; height: 30px; width: 82.5px; margin-top:0px; float:right;}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .paginado .btn_next_tag:hover{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Normal.png"); background-position: 0px 0px; height: 30px; width: 82.5px; }
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .paginado .btn_back_tag{ background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Over.png"); background-position: 82.5px 0px; height: 30px; width: 82.5px; float:left;}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .paginado .btn_back_tag:hover{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Normal.png"); background-position: 82.5px 0px; height: 30px; width: 82.5px; }
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .paginado a{
	font-family:"RumpelstiltskinRegular";
	font-size: 21px;
	color: #00B1bE;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .paginado a:hover{
	font-family:"RumpelstiltskinRegular";
	font-size: 21px;
	color:#E32E7A;
}
.paginado strong{
	
	color:#E32E7A;
}

#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar{
	position:relative;
	float:right;
	font-family:"RumpelstiltskinRegular";
	margin-right:20px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar a{
	font-family:"RumpelstiltskinRegular";
	font-size: 21px;
	color: #00B1bE;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar a:hover{
	font-family:"RumpelstiltskinRegular";
	font-size: 21px;
	color:#E32E7A;
}
.paginadobuscar strong{
	font-size: 21px;
	color:#E32E7A;
}



#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .selected{
	font-family:"IstokWebRegular";
	color:#E32E7A;
}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo1 p,#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo2 p {
	color:#E32E7A;
	font-family:"IstokWebBold";
	font-size: 14px;
	margin-left: 5px;
    margin-top: 5px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo2 p {
	margin-top: -5px !important;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_nosotros .contenido_nosotros{
	position: relative;
	/*margin-left:195px;*/
	margin-left:110px;
	margin-top:60px;	
}
.contenido_nosotros p{
	width: 542px !important;
	padding: 0 !important;
	font-size: 25px !important;
	position: relative !important;
	top: 25px !important;
	line-height: 20px !important;
	
}
#content .wrappmaqueta2 .segundo_con_2 #bg_nosotros .contenido_nosotros h1{
	font-size:50px;
	color:#E32E7A;
	font-family: "RumpelstiltskinRegular";
}
#content .wrappmaqueta2 .segundo_con_2 #bg_nosotros .contenido_nosotros p{
	font-size:17px;
	color:#4d4d4d;
	font-family: "sf_cartoonist_handregular";
}
#content .wrappmaqueta2 .segundo_con_2 #bg_socialres{
	display:block;
	float:left;
	width:778px;
	height:550px;
	margin-left:10px;
	background: url("../img/socialmente.png") center;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_socialres .contenido_socialres{
	position: relative;
	margin-left:92px;
	margin-top:75px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #bg_socialres .contenido_socialres h1{
	font-size:44px;
	color:#E32E7A;
	font-family: "RumpelstiltskinRegular";
	
	
}
#content .wrappmaqueta2 .segundo_con_2 #bg_socialres .contenido_socialres p{
	font-size:15px;
	color:#4d4d4d;
	font-family: "sf_cartoonist_handregular";
}
#content .wrappmaqueta2 .segundo_con_2 #bg_socialres .contenido_socialres .mitz{
	display:block;
	cursor:pointer;
	border:none;
	float:left;
	width:80px;
	height:110px;
	margin-left:0px;
	background: url("../img/enfant_logo_Mitz.png") center;
	
}
.contenido_socialres p{
	position: relative !important;
	width: 450px !important;
	padding: 0 !important;
	font-size: 25px !important;
	top: 0px !important;
}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto{
	display:block;
	float:left;
	width:778px;
	height:550px;
	margin-left:10px;
	background: url("../img/contacto.png") center;
	
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1{
	position:relative;
float:left;
width:410px;

height:550px;	
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 h1{
    position: relative;
	margin-left:40px;
	margin-top:30px; 
	font-size:44px;
	color:#E32E7A;
	font-family: "RumpelstiltskinRegular";
	}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto{
	position:relative;
	margin-left:40px;
	margin-top:-30px;
	font-size:25px;
	color:#4D4D4D;
	height:500px;
	font-family: "sf_cartoonist_handregular";
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto .etiquetas{
		position:relative;
float:left;
width:100px;
line-height:28px;
height:550px;	
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto .etiquetas p{
	margin-top:10px;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto .inputs{
		position:relative;
float:left;
width:250px;

height:550px;	
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto .inputs input,#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto .inputs textarea{
	margin-top:10px;
}
#commentForm .input1{
	background:url("../img/input01.png") left top no-repeat;
}
#commentForm .input2{
	background:url("../img/input02.png") left top no-repeat;
}
/*#commentForm input[type="text"]{
	border: solid 1px #FFF;	
	width: 250px;
	height: 20px;
}*/

#commentForm input[type="submit"]{
	width: 120px;
	height: 20px; 
	border: none;
	background:url("../img/boton-enviar.png") left top no-repeat;
	cursor: pointer;
}
#commentForm input[type="submit"]:hover{
	background:url("../img/boton-enviar-over.png") left top no-repeat;
}


#commentForm textarea{
	border: solid 1px #FFF;	
	width: 253px;
	height: 150px;
}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2{
position:relative;
float:left;
width:350px;

height:100%;	
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro1{
	position:relative;
float:left;

height:175px;
width:100%;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro1 p{
	position:relative;
	margin-left:40px;
	margin-top:80px;
	font-size:40px;
	color:#4D4D4D;
	font-family: "sf_cartoonist_handregular";
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2{
	position:relative;
float:left;

height:80px;
width:100%;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 p{
	position:relative;
	margin-left:40px;
	margin-top:14px;
	font-size:25px;
	color:#4D4D4D;
	font-family: "sf_cartoonist_handregular";
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro3{
	position:relative;
float:left;

height:289px;
width:100%;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro3 p{
	position:relative;
	margin-left:40px;
	margin-top:25px;
	font-size:25px;
	line-height:30px;
	color:#4D4D4D;
	font-family: "sf_cartoonist_handregular";
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 .contactofb{
	background:url("../img/boton-face.png"); height: 40px; width: 40px; display: block;
	}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 .contactofb:hover{
	background:url("../img/boton-face-over.png"); height: 40px; width: 40px; display: block;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 .contactotw{
	background:url("../img/boton-twitter.png"); height: 40px; width: 40px; display: block; 
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 .contactotw:hover{
	background:url("../img/boton-twitter-over.png"); height: 40px; width: 40px; display: block; 
	
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 .contactoth{
	background:url("../img/boton-tumblrv2.png"); height: 40px; width: 40px; display: block; 
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 .contactoth:hover{
	background:url("../img/boton-tumblr-overv2.png"); height: 40px; width: 40px; display: block; 
}
#content .wrappmaqueta2 .segundo_con_2  #menu_con2{
	float:left;
	margin-top:42px;
	width:790px;
	height:30px;
	margin-left:-30px;
}

#content .wrappmaqueta2 .segundo_con_2  #menu_con2 ul {
	margin-top:0px;
   margin-left:2px;
}
#content .wrappmaqueta2 .segundo_con_2 #menu_con2 li {

display: block;
    float:left;
    height: 20px;
    margin: 0 9px 0 0;
    margin-top: 5px;
    text-align: right;
}
#content .wrappmaqueta2 .segundo_con_2 #menu_con2 li, #content .wrappmaqueta2 .segundo_con_2 #menu_con2 li,a {
	font-family:'RumpelstiltskinRegular';
	margin-top: 0px;
	font-size: 21px;
	color: #fff;
	
    text-decoration: none;
}
  #content .wrappmaqueta2 .segundo_con_2 #menu_con2   a:hover, #content .wrappmaqueta2 .segundo_con_2 #menu_con2 a.active{
font-family:'RumpelstiltskinRegular';
        color: #EC008C;
}


#content .wrapp .con1 .segundo_con #nino{
	float:right;
	
	
}
#content .wrapp .con1 .primer_con .logotipo{
	float:left;
	width: 285px;
	height:150px;
	
}
#content .wrapp  .con1 .primer_con .logotipo a{
	display:block;
}

#content .wrapp .con1 .primer_con #search{
	display: block;
    float: left;
    height: 42px;
    margin-top: 5px;
    width: 285px;
	
}
#content .wrapp .con1 .primer_con #leftmenu{
	display:block;
	width:285px;
	height:285px;
	float:left;
	
}

#content .wrapp .con1 .primer_con #leftmenu ul{
	position:relative;
	float: left;
	
	
}
#content .wrapp .con1 .primer_con #leftmenu li{

	display:block;
	float: right;
	height: 40px;
	margin: -2px 0px 0px -38px !important;
}
#content .wrapp .con1 .primer_con #leftmenu  a{
	display:block;
}

#content .wrapp .con1 .segundo_con #menu_con{
	float:left;
	margin-top:50px;
	width:700px;
	height:30px;
	margin-left:-28px !important;
}

#content .wrapp .con1 .segundo_con #menu_con ul{
	margin-top:0px;
   margin-left:2px;
   width: 1000px !important;
}
#content .wrapp .con1 .segundo_con #menu_con li{

display: block;
    float:left;
    height: 20px;
    margin: 0 9px 0 0;
    margin-top: 5px;
    text-align: right;
    list-style:none;
}
 #menu_con li, #menu_con li a {
	font-family:'RumpelstiltskinRegular';
	
	font-size: 21px;
	color: #00B1BE;
	
    text-decoration: none;
}
  #content .wrapp .con1 .segundo_con #menu_con   a:hover, #content .wrapp .con1 .segundo_con #menu_con a.active{
font-family:'RumpelstiltskinRegular';
        color: #EC008C;
}


/* slider principal -----*/
#content .wrapp .nosotros{
	position:absolute;
	background: url("../img/q-somos.png") center top repeat-x;
	z-index:20;
	width:700px;
	height:550px;
	margin-left: 300px;
    margin-top: -400px;
}
#content .wrapp .con1 .segundo_con #slider{
	float:right;
	z-index:4;
	width:700px;
    height:404px;
	
}
#miCarrusel{
	position:relative;
	width:704px;
    height:386px;
	z-index:9999 !important;
	background:url("../img/Destacados_MarcoConSombra_710x390px.png");
	
}


#content .wrapp .con1 .segundo_con #slider .trans_gal{
	background: url("../img/transparencia.png") repeat-x; 
	width: 680px; 
	height:85px; 
	padding: 10px; 
	z-index:100;
	margin-top:273px;
/*	height:400px;*/
	
}
#content .wrapp .con1 .segundo_con #slider .trans_gal .dest1{
	float:left;
	height:86px; 
	width: 130px; 
}
#content .wrapp .con1 .segundo_con #slider .trans_gal .dest2{
	float: left;
    height: 60px;
    margin-top: 30px;
    width: 450px;
}
#content .wrapp .con1 .segundo_con #slider .trans_gal .dest3{
	float:left;
	width: 450px;
	height: 20px; 
	text-align:right;
}
#content .wrapp .con1 .segundo_con #slider .trans_gal a{
	font-family:'RumpelstiltskinRegular';
	z-index:999!important;
	font-size: 21px;
	color: #00B1bE;
}
#content .wrapp .con1 .segundo_con #slider .trans_gal a:hover{
	font-family:'RumpelstiltskinRegular';
	
	font-size: 21px;
	color: #891b64;
}

#content .wrapp .con1 .segundo_con #slider #slider-catch{
	background: #fff;
	padding: 5px;
	height: 376px;
	overflow: hidden;
}
#content .wrapp .con1 .segundo_con #slider #slider-catch #catch-image-gallery{
	
	overflow: hidden;
}

#content .wrapp .con1 .segundo_con #slider #slider-catch #catch-image-gallery ul li{
	width: 696px;
	height: 376px;
	background: #FFFFFF;
	
}

#content .wrapp .con1 .segundo_con #slider  #slider-catch #catch-caption-list{
	height: 105px;
	width: 696px;
	background: #ddd;
	position: relative;
	bottom: 131px;
}

#content .wrapp .con1 .segundo_con #slider  #slider-catch #caption-list{
	color: #000;
	position: relative;
	bottom: 220px;
	text-decoration: none;
}




#content .wrapp .con2{
	float:left;
	margin-top:10px;
	height: 375px;
	width:1000px;
	
}
#content .wrapp .con2 #div1{
	float:left;
	height:360px;
	width: 290px;
	
}
#content .wrapp .con2 #div1 .tabla{
	font-family:"IstokWebBold";
	font-size: 14px;
	color: #00847a;
}

#content .wrapp .con2 #div1 .tabla2{
	font-family:"IstokWebBold";
	font-size: 13px;
	color: #00847a;
}
#content .wrapp .con2 #div1 .tabla2 a{
	font-family:"IstokWebBold";
	font-size: 13px;
	color: #00847a;
}
#content .wrapp .con2 #div1 .tabla2 a:hover{
	font-family:"IstokWebBold";
	font-size: 13px;
	color: #891b64;
}
#content .wrapp .con2 #div2{
	float:left;
	height:370px;
	width: 350px;
	background-repeat:no-repeat;
	
}
#content .wrapp .con2 #div1 #divcontainar1 {
	position:relative;
	float:left;
	width: 290px;
	height: 300px;
	
}
#content .wrapp .con2 #div1 #divcontainar2 {
	position:relative;
	float:left;
	width: 290px;
	height: 50px;
	
}
#content .wrapp .con2 #div1 #divcontainar2 #anuncio1{
	position:absolute;
	
	margin-bottom:0;
	width: 79px;
	height: 79px;
	margin-left: 215px;
}
#content .wrapp .con2 #div2 #anuncio2{
	float:right;
	margin-top:297px;
	width: 79px;
	height: 79px;
}
#content .wrapp .con2 #div3{
	float:left;
	height:305px;
	width: 360px;
	
}
#content .wrapp .con2 #div3 #contactoRevista{
	float: left;
    height: 140px;
    width: 346px;
    margin-left:7px;
    display:block;
    cursor:pointer;
	background:url("../img/Incio_BannerREvista_346x140px.png") top center no-repeat;
	
}
#content .wrapp .con2 #div3 .promos{
	float: left;
    height: 140px;
    width: 360px;
	background:url("../img/BG_Participa_346x140px_V2.png") top center no-repeat;
	
}
#content .wrapp .con2 #div3 .promos .part1{ width: 365px; height:70px; position:relative; float:left; }
#content .wrapp .con2 #div3 .promos .part2{ width: 365px; height:230px; position:relative; float:left;}
#content .wrapp .con2 #div3 .promos .part2 .campo{ width: 160px; height:32px; position:relative; float:left; margin-left:10px;}
#content .wrapp .con2 #div3 .promos .part2 .campo1{width: 365px; height:40px; position:relative; float:left; }
#content .wrapp .con2 #div3 .promos .part2 .campo1 input{float: right; margin-top:-7px; margin-right:30px;}

#content .wrapp .con2 #div4{
	float:right;
	height:65px;
	width: 360px;
	margin-top:-5px;
	
}
#content .wrapp .con2 #div4 .letra{
	font-family:'IstokWebBold';
	color: #00847a;
}
/*pie de pagina*/
#footer {
	
	margin-top:70px;
}
#footer .wrapp{
	
	height: 583px;
	
	z-index:10;
}

#footer .wrapp .img4{
	width: 595px;
	height: 128px;
	float: left;
	
	
}

#footer .wrapp .img3{
	 width: 380px;
	 height: 128px;
	 float: left;
	
	
}
#footer .wrapp .separador{
	
    display: block;
    float: left;
    height: 55px;
    
    width: 1000px;
}
#footer .wrapp .social{
	background: url("../img/san_valentin/footer_valentin.png") center bottom no-repeat;
	width:1000px;
	height:500px;   
	float:left;
	top:10px;
	
	
}
#footer .wrapp .social .wrappsocial{
	
    float: right;
    height: 217px;
    margin-right: 29px;
    margin-top: 7px;
    
    width: 207px;
	
}
#footer .wrapp .social .wrappsocial .divtwitter{
	font-family: "IstokWebRegular";
   float:left;
    height: 230px;
    width: 207px;
    overflow: hidden;
    margin-top:90px;
}

#footer .wrapp .social .wrappsocial .divtwitter a{
font-size:12px;	
text-decoration:underline;
color:#0092BB;
font-family: "IstokWebRegular";
font-weight:bold;
}
#footer .wrapp .social .wrappsocial .divtwitter span{
font-size:10px;	
text-align:justify;
color:#0092BB;

}
#footer .wrapp .social .wrappsocial .divtwitter ul li{
font-size:13px;	
font-family: "IstokWebRegular";

text-decoration:none;
list-style:none;
float:left;
width: 200px;
margin-top:5px;
padding:1px 1px 1px 1px;
border-bottom:solid 1px #0092BB;
}
#footer .wrapp .social .wrappsocial .divtwfb{
	
    float:left;
    height: 100px;
    width: 207px;
}
#footer .wrapp .social .wrappsocial .divtwfb .divUnoFeliz{
float:left;
    height: 50px;
    width: 164px;
}
#footer .wrapp .social .wrappsocial .divtwfb .divdosFeliz{
float:right;
width: 150px;
    height: 50px;
}
#footer .wrapp .contacto{
	width:1000px;
	height:45px;
	float:left;
	color: #fff;
	font-family:'ArchitectsDaughterRegular';
	margin-top:-60px;
		
}
.contacto a{
	font-family:'ArchitectsDaughterRegular';
	
	font-size: 14px;
	color: #fff;
	
    text-decoration: none;
}

#footer .wrapp .menufooter{
	width:1000px;
	height:20px;
	float:left;
	margin-top:-32px;
	
}
#footer .wrapp .menufooter ul {
   margin-top:0px;
   margin-left:-35px;
   font-family:'ArchitectsDaughterRegular';
}
#footer .wrapp .menufooter li {
    display: block;
    float:left;
    height: 20px;
    margin: 0 9px 0 0;
    margin-top: 5px;
    text-align: right;
}

 .menufooter li, .menufooter li a {
	font-family:'ArchitectsDaughterRegular';
	
	font-size: 14px;
	color: #fff;
	
    text-decoration: none;
}
  #footer .wrapp .menufooter  a:hover, #footer .wrapp .menufooter a.active{
font-family:'ArchitectsDaughterRegular';
        color: #E6E65C;
}

/*#footer .wrapp .dino{
	position: relative;
	width:130px;
	height:170px;
	bottom: -3px;
	left:-130px;
	background: url("../img/Umoustro.png");
	z-index: -2;
	border:solid 1px #000000;
}*/
.revistaContacto{
	width:300px;
	height:160px;
	margin:auto;
	position:relative;
	background:none;
	
}
.revistaContacto .campo1{
	width:310px;
	height:30px;
	float:left;
	position:relative;

}
.revistaContacto .campo2{
	width:310px;
	height:30px;
	float:left;
	position:relative;

}

.revistaContacto form{
	width:300px;
	height:160px;
	font-family:"IstokWebRegular";
}
.revistaContacto .campo1 label{
	float:left;
	margin-top:10px;
}
.revistaContacto .campo1 input{
	float:right;
	width:200px;
	margin-top:5px;
}
.revistaContacto .campo1 textarea{
	float:right;
	width:200px !important;
	height:60px !important;
	margin-top:5px;
}
.revistaContacto form legend,.revistaContacto form fieldset{
	border:none;
}
.revistaContacto .enviar{background:url("../img/Boton_Enviar_77x25px.png"); height: 25px; width:77px; cursor:pointer; border:none; float:right; margin-top:39px;}
.revistaContacto .enviar:hover{background:url("../img/Boton_Enviar_77x25px_Over.png"); }

.b-overlay-next{
	/*background:url('../img/301.gif') center no-repeat;*/
	z-index:0;
}

/*
 *NUEVO DE TODO UN POCO
 */

 .todo-title-bg{
 	width:220px;
	height:26px;
	background:url("../img/head.png") no-repeat;
	position:relative;

 }

 .todo-title-bg h3{
 	color: #FFFFFF;
    font-family: 'IstokWebRegular';
    font-size: 16px;
    margin: 3px 10px;
 }

 .todo-content-n{
 	cursor: pointer;
 	height: 26px;
 	width: 220px;
 }

 .row-a{
 	background: #F2F2F2;
 }

 .row-b{
 	background: #E3E4E7;
 }

 .todo-content-n h4{
 	margin: 0 10px;
 	color: #808080;
    font-family: 'IstokWebRegular';
    font-size: 13px;
 }
 .bullet{
 	width:20px;
	height:20px;
	background:url("../img/bullet.png") no-repeat;
	background-position: 0px 0px;
	position:relative;
	margin-left:20px;
	cursor: pointer;
	float:left;
 }
 .bullet:hover{
 	background-position: 0px -20px;
 }

.relleno{
	background:#87296F;
	height:auto;
	width: 220px;
	position: relative;
}
.relleno p{
	color:#fff;
	margin:0;
	padding:0 10px;
}