.sprite-image.back_bnt { background-position:  -0px -0px; height: 25px; width: 25px; }
.sprite-image.back_bnt_over { background-position:  -0px -25px; height: 25px; width: 25px; }
.sprite-image.next_pic { background-position:  -0px -50px; height: 25px; width: 25px; }
.sprite-image.next_pic_over { background-position:  -0px -75px; height: 25px; width: 25px; }
.sprite-image.pause_pic { background-position:  -0px -100px; height: 25px; width: 25px; }
.sprite-image.pause_pic_over { background-position:  -0px -125px; height: 25px; width: 25px; }
