body {
	/*font: 0.8em/21px arial,sans-serif;*/
}

.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radio {
	background: url(radio.png) no-repeat;
}
.select {
	position: absolute;
	width: 158px; /* With the padding included, the width is 190 pixels: the actual width of the image. */
	height: 20px;
	padding: 0 24px 0 8px;
	color: #999;
	font: 14px/21px arial,sans-serif;
	background: url("../img/new/Campo02_Participa_158x20.jpg") no-repeat;
	overflow: hidden;
	 cursor:pointer;
}
.select:hover,.select:focus{background: url("../img/new/Campo02_Participa_158x20_Over.jpg") no-repeat; } 
