/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/


.coin-slider { overflow: hidden; zoom: 1; position: relative; }
.coin-slider a{ text-decoration: none; outline: none; border: none; }

.cs-buttons { font-size: 0px; padding: 10px; float: left; display: none; }
.cs-buttons a { margin-left: 5px; height: 10px; width: 10px; float: left; border: 1px solid #B8C4CF; color: #B8C4CF; text-indent: -1000px; }
.cs-active { background-color: #B8C4CF; color: #FFFFFF; }

.cs-title { width: 680px; height:86px; padding: 10px; background:url("../img/transparencia.png") repeat-x; color: #FFFFFF; }

.cs-next{ background: url("../img/btn_next.png"); height: 22px; width: 25px;    }
.cs-next:hover{ background: url("../img/btn_next_over.png"); height: 22px; width: 25px;     }  
.cs-prev { background: url("../img/btn_prev.png"); height: 22px; width: 25px;    }
.cs-prev:hover { background: url("../img/btn_prev_over.png"); height: 22px; width: 25px;   }

