*{
    padding:0;
    margin:0;
}
@font-face {
    font-family: 'sf_cartoonist_handregular';
    src: url('../font/sf_cartoonist_hand-webfont.eot');
    src: url('../font/sf_cartoonist_hand-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/sf_cartoonist_hand-webfont.woff') format('woff'),
         url('../font/sf_cartoonist_hand-webfont.ttf') format('truetype'),
         url('../font/sf_cartoonist_hand-webfont.svg#sf_cartoonist_handregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.encabezado{
    height: 150px;
    width: 800px;
    position: relative;
    float: left;

}
.encabezado ul{
    float: right;
    list-style: none;
    position: relative;
}
.encabezado ul li{
    height: 30px;
    width: auto;
    font-size: 28px;
    color: #C58B41;
    font-family: 'sf_cartoonist_handregular';
    text-align: right;
}

.encabezado .logo_principal { 
    
    height: 150px; 
    width: 285px; 
    margin-top:0px;
    display: block;
    float: left;
}

.box1 .laCuponera{
    width:815px;
    height: auto;
    position: relative;
    float: left;
}
.box1 .laCuponera .separador{
    height: 180px;
    width: 800px;
    position: relative;
    float: left;
}
.box1 .controles{
    width:auto;
    height: auto;
    position: relative;
    float: left;
    margin-left: 10px;
}
.box1 .controles .button_controles{
    width:10px;
    margin-left: 3px;
    height: auto;
    position: relative;
    float: left;
    text-align: center;
    text-decoration: none;
    cursor: pointer;

}

.box1 .laCuponera  .cupon{
    width: 184px;
    height: 175px;
    float: left;
    margin: 5px;
    position: relative;
    border: 3px dashed #C58B41;
}
.box1 .laCuponera  .cupon img{
   width: 184px;
    height:175px;
    margin: auto; 
    position: relative;
    float: left;
}