/*! fancyBox v2.1.4 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	outline: none !important;
	vertical-align: top !important;
}

.fancybox-wrap {
	left: 175px !important;
    position: absolute !important;
    top: 0 !important;
    width: 1100px !important;
    z-index: 8020 !important;
}

.fancybox-skin {
	position: relative !important;
	background: #f9f9f9 !important;
	color: #444 !important;
	text-shadow: none !important;
	-webkit-border-radius: 4px !important;
	   -moz-border-radius: 4px !important;
	        border-radius: 4px !important;
}

.fancybox-opened {
	z-index: 8030 !important;
}

.fancybox-opened .fancybox-skin {
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5) !important;
	   -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5) !important;
	        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5) !important;
}

.fancybox-outer, .fancybox-inner {
	position: relative !important;
	width:1150px!important;
	height: 820px !important;
	margin:auto !important;
	background: none;
}

.fancybox-inner {
	overflow: hidden !important;
}

.fancybox-type-iframe .fancybox-inner {
	-webkit-overflow-scrolling: touch !important;
}

.fancybox-error {
	color: #444;
	font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	margin: 0 !important;
	padding: 15px !important;
	white-space: nowrap !important;
}

.fancybox-image, .fancybox-iframe {
	display: block !important;
	width: 100% !important;
	height: 100% !important;
}

.fancybox-image {
	max-width: 100% !important;
	max-height: 100% !important;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
	background-image: url('../fancybox/fancybox_sprite.png') !important;
}

#fancybox-loading {
	position: fixed !important;
	top: 50% !important;
	left: 50% !important;
	margin-top: -22px !important;
	margin-left: -22px !important;
	background-position: 0 -108px !important;
	opacity: 0.8 !important;
	cursor: pointer !important;
	z-index: 8060 !important;
}

#fancybox-loading div {
	width: 44px !important;
	height: 44px !important;
	background: url('../fancybox/fancybox_loading.gif') center center no-repeat !important;
}

.fancybox-close {
	cursor: pointer !important;
    display: block;
    height: 36px !important;
    position: absolute !important;
    right: -61px !important;
    top: 8px !important;
    width: 36px !important;
    z-index: 8056 !important;
}

.fancybox-nav {
	position: absolute !important;
	top: 0 !important;
	width: 40% !important;
	height: 100% !important;
	cursor: pointer !important;
	text-decoration: none !important;
	background: transparent url('../fancybox/blank.gif') !important; /* helps IE */
	-webkit-tap-highlight-color: rgba(0,0,0,0) !important;
	z-index: 8040 !important;
}

.fancybox-prev {
	left: 0 !important;
}

.fancybox-next {
	right: 0 !important;
}

.fancybox-nav span {
	position: absolute;
	top: 50% !important;
	width: 36px !important;
	height: 34px !important;
	margin-top: -18px !important;
	cursor: pointer !important;
	z-index: 8040 !important;
	visibility: hidden !important;
}

.fancybox-prev span {
	left: 10px !important;
	background-position: 0 -36px !important;
}

.fancybox-next span {
	right: 10px !important;
	background-position: 0 -72px !important;
}

.fancybox-nav:hover span {
	visibility: visible !important;
}

.fancybox-tmp {
	position: absolute !important;
	top: -99999px !important;
	left: -99999px !important;
	visibility: hidden !important;
	max-width: 99999px !important;
	max-height: 99999px !important;
	overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
	overflow: hidden !important;
}

.fancybox-overlay {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	overflow: hidden !important;
	display: none !important;
	z-index: 8010 !important;
	background: url('../fancybox/fancybox_overlay.png') !important;
}

.fancybox-overlay-fixed {
	position: fixed !important;
	bottom: 0 !important;
	right: 0 !important;
}

.fancybox-lock .fancybox-overlay {
	overflow: auto !important;
	overflow-y: scroll !important;
}

/* Title helper */

.fancybox-title {
	visibility: hidden;
	font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	position: relative !important;
	text-shadow: none !important;
	z-index: 8050 !important;
}

.fancybox-opened .fancybox-title {
	visibility: visible !important;
}

.fancybox-title-float-wrap {
	position: absolute !important;
	bottom: 0 !important;
	right: 50% !important;
	margin-bottom: -35px !important;
	z-index: 8050 !important;
	text-align: center !important;
}

.fancybox-title-float-wrap .child {
	display: inline-block !important;
	margin-right: -100% !important;
	padding: 2px 20px !important;
	background: transparent !important; /* Fallback for web browsers that doesn't support RGBa */
	background: rgba(0, 0, 0, 0.8) !important;
	-webkit-border-radius: 15px !important;
	   -moz-border-radius: 15px !important;
	        border-radius: 15px !important;
	text-shadow: 0 1px 2px #222 !important;
	color: #FFF !important;
	font-weight: bold !important;
	line-height: 24px !important;
	white-space: nowrap !important;
}

.fancybox-title-outside-wrap {
	position: relative !important;
	margin-top: 10px !important;
	color: #fff !important;
}

.fancybox-title-inside-wrap {
	padding-top: 10px !important;
}

.fancybox-title-over-wrap {
	position: absolute !important;
	bottom: 0 !important;
	left: 0 !important;
	color: #fff !important;
	padding: 10px !important;
	background: #000 !important;
	background: rgba(0, 0, 0, .8) !important;
}