@import url(../fonts/stylesheet.css);
@import url(../font/stylesheet.css);
@import url(../bellota_font/stylesheet.css);
*{
	margin:0;
	padding: 0;
}

body{
	background: url('../img/navidad/navidad2.jpg') repeat; /* Background de enfant*/

	/*
		background: url('../img/navidad/Banner-destacados.jpg') no-repeat; 
		width: 1000px;
		height: alura deseada;
		
	*/
} 
.clearer{
	clear: both;
}
#wrapp{
	margin:15px auto;
	width:1000px;
	height: auto;
}
.bullet{
 	width:20px;
	height:20px;
	background:url("../img/new/bullet_20x40.png") no-repeat;
	background-position: 0px 0px;
	position:relative;
	margin-left:20px;
	cursor: pointer;
	float:left;
 }

 .bullet:hover{
 	background-position: 0px -20px;
 }

.btn_gal_next{
	background:url("../img/new/Destacados_Boton_44x25.png")no-repeat; 
	background-position: -22px 0px;
	height: 25px; 
	width:22px; 
	cursor:pointer;
	display:block;
	border:0; 
	z-index: 5;
}
.btn_gal_next:hover{
	background:url("../img/new/Destacados_Boton_44x25_Over.png")no-repeat;
	background-position: -22px 0px;
}
.btn_gal_back{
	background:url("../img/new/Destacados_Boton_44x25.png")no-repeat; 
	background-position: 0px 0px;
	height: 25px; 
	width:22px; 
	cursor:pointer;
	display:block;
	border:0; 
	z-index: 5;
}
.btn_gal_back:hover{
	background:url("../img/new/Destacados_Boton_44x25_Over.png")no-repeat;
	background-position: 0px 0px;
}
/* ----------------------------------------------------- HEADER ------------------------------------------------*/
#wrapp #header{
	margin-bottom: 15px;
	position:relative;

}
#header .banner{
	float:right;
	width:770px;
	margin-bottom: 30px;
	height: 140px;
}
#header a.logo-index{
	cursor: pointer;
	display: block;
	float: left;
	background: url('../img/Logo_enfant.png');
	width:230px;
	height: 165px;
}
/* ----------------------------------------------------- CONTENT ------------------------------------------------*/
#wrapp #content{
	margin-bottom: 15px;
	position:relative;
	float: left;
}
#content .con1{
	position: relative;
	float: left;
	margin-bottom: 10px;
}
.con1 .primer_con{
	float:left;
	width:230px;
	height:auto;
}
.primer_con #search{
	display: block;
    float: left;
    height: 30px;
    margin-top: 5px;
    width: 230px;
}

#search .search_input { 
	border: medium none;
    display: block;
    height: 22px;
    margin: 6px 10px;
    width: 220px;
    z-index: 1;
    padding: 0;
    background: url('../img/input_buscar.png');
}
.primer_con #leftmenu{
	display:block;
	width:230px;
	height:auto;
	float:left;
	margin-top:25px;
}
.primer_con #leftmenu a {
    display: block;
}
.primer_con #leftmenu ul{
	position:relative;
	float: left;
}
.primer_con #leftmenu li{
	display:block;
	float: right;
	height: 40px;
	margin: -2px 0px 0px -38px !important;
}
#leftmenu li .inicio_btn { 
	background:url("../img/menu_inicio_over.png");
	background-position: 0 0px;
	height: 40px; 
	width: 230px; 
}
#leftmenu li .inicio_btn:hover{ background-position: 0 -40px;}
#leftmenu li .clases_btn { 
	background:url("../img/menu_mis_clases_over.png");
	background-position: 0 0px;
	height: 40px; 
	width: 230px; 
}
#leftmenu li .clases_btn:hover{ background-position: 0 -40px;}
#leftmenu li .mama_btn { 
	background:url("../img/menu_mi_mama_over.png");
	background-position: 0 0px;
	height: 40px; 
	width: 230px; 
}
#leftmenu li .mama_btn:hover{ background-position: 0 -40px;}
#leftmenu li .ropa_btn { 
	background:url("../img/menu_mi_ropa_over.png");
	background-position: 0 0px;
	height: 40px; 
	width: 230px;
}
#leftmenu li .ropa_btn:hover{ background-position: 0 -40px;}
#leftmenu li .salud_btn {
	background:url("../img/menu_mi_salud_over.png");
	background-position: 0 0px;
	height: 40px; 
	width: 230px; 
}
#leftmenu li .salud_btn:hover{ background-position: 0 -40px;}
#leftmenu li .diversion_btn { 
	background:url("../img/menu_mi_diversion_over.png");
	background-position: 0 0px;
	height: 40px; 
	width: 230px; 
}
#leftmenu li .diversion_btn:hover{ background-position: 0 -40px;}
#leftmenu li .fiesta_btn { 
	background:url("../img/menu_mi_fiesta_over.png");
	background-position: 0 0px;
	height: 40px; 
	width: 230px;
}
#leftmenu li .fiesta_btn:hover{ background-position: 0 -40px;}
#leftmenu li .detodo_btn { 
	background:url("../img/menu_detodo_over.png");
	background-position: 0 0px;
	height: 40px; 
	width: 230px; 
}
#leftmenu li .detodo_btn:hover{ background-position: 0 -40px;}
.con1 .segundo_con{
	float: left;
	width: 770px;
}
.segundo_con #menu_con{
	float: left;
    height: 30px;
    margin-bottom: 5px;
    margin-top: 0px;
    width: 100%;
}
.segundo_con #menu_con ul{
	margin-top:-5px;
   	margin-left:10px;
	width: 100% !important;
}
.segundo_con #menu_con li{
	display: block;
    float:left;
    height: 20px;
    margin: 5px 75px 0 -4px;
    margin-top: 5px;
    text-align: right;
    list-style:none;
}
.segundo_con #menu_con li:last-child{
	margin: 5px 0px 0 -4px;
}
 #menu_con li, #menu_con li a {
	font-family:'pompiere_regular';
	font-size: 26px;
	color: #666;
    text-decoration: none;
}

.segundo_con #menu_con   a:hover, .segundo_con #menu_con a.active{
	font-family:'pompiere_regular';
	color: #73AFBA;
}
.segundo_con #slider{
	float: left;
	width:545px;
	height: 386px;
}
#slider #leslider{
	width:535px !important;
}
.segundo_con ul#banners{
	float: left;
	margin-left: 10px;
	width: 225px;
	height: auto;
	list-style: none;
	padding: 0 !important;
	margin: 0 !important;
}
ul#banners li {
	margin: 0 0 9px;
	width: 225px;
	height: 70px;
}
#content .con2{
	position: relative;
	float: left;
	width: 1000px;
	margin-bottom: 15px;
	margin-top: 1px;
}
.con2 .social{
	width: 290px;
	height: 370px;
	float: left; 
	background: url('../img/redes_bg.png');
}
.social h3{
	font-family: 'bellotaregular';
	color:#fff;
	font-size: 30px;
	font-weight: 100;
}
.social h3#h3{
	position: relative;
	float: left;
	margin: 0px 13px;
	padding: 0;
	width:200px;
}
.social #blog{
	height: 95px !important;
    margin: 55px auto 0;
    width: 265px;
    position: relative;
 /*   background: url('../img/redes_bg_blog.png');*/
}
#blog h3{
	margin: -54px 0 0;
    position: absolute;
}
#blog table{
	margin: 10px 5px 0px 5px;
	font-family:'pompiere_regular';
	font-size: 20px;
	color: #5EC2A5;
    text-decoration: none;
}
#blog table a{
	color: #5EC2A5;
	text-decoration: none;
	font-size: 17px;
}
#blog .btn-ver-mas{
	width: 175px;
	height: 25px;
	float: right; 
	margin-right: -12px;
	margin-bottom: 0;
	background: url('../img/redes_ver_articulos.png');
}
.social .box{
	width: 125px;
	height: 80px;
	float:left;
	margin: 5px -10px 5px 13px;
}
.box h3{margin: -30px 0 0;position: absolute;}
.box .btn-social{
	width: 125px;
	height: 80px;
	display: block;
}
.box a#facebook{
	background: url('../img/redes_icon_fb.png');
	background-position: 0 0;
}
.box a#facebook:hover{
	background-position: 0 -80px;
}
.box a#twitter{
	background: url('../img/redes_icon_tw.png');
	background-position: 0 0;
}
.box a#twitter:hover{
	background-position: 0 -80px;
}
.box a#instagram{
	background: url('../img/redes_icon_ig.png');
	background-position: 0 0;
}
.box a#instagram:hover{
	background-position: 0 -80px;
}
.box a#pinterest{
	background: url('../img/redes_icon_pr.png');
	background-position: 0 0;
}
.box a#pinterest:hover{
	background-position: 0 -80px;
}
.con2 img#calendar{
	width: 710px;
	height: 370px;
	float: left; 
}
.con2 .banner-bottom{
	margin-top:15px;
	width: 1000px;
	height: 140px;
	float: left; 
}
#content .birds{
	position: relative;
	float: left;
	height: 190px;
	width: auto;
}
.birds img{
	margin-left:-140px;
	position: relative;
}
#content .wrappmaqueta2 .primer_con_2{
	float:left;
	width:208px;
	height:auto;
}
#content .wrappmaqueta2 .segundo_con_2{
	float:left;
	width:778px;
	height:auto;
}
.primer_con_2 .logotipo2{
	float:left;
	width: 208px;
	height:120px;
}
.logotipo2 a{
	display:block;
}
.primer_con_2 #search2{
	display: block;
	float:left;
	width: 208px;
	height:40px;
	margin-bottom:0px;
}
#search2 .search2_input  { 
	border: medium none;
    display: block;
    height: 22px;
    margin: 6px 8px;
    width: 207px;
    z-index: 1;
    padding: 0;
    background: url('../img/input_buscar.png');
}
.primer_con_2 #leftmenu2{
	display:block;
	width:208px;
	height:auto;
	float:left;
	margin-top:0px;
}
.primer_con_2 #leftmenu2 li a {
    display: block;
}
.primer_con_2 #leftmenu2 ul{
	position:relative;
	float: left;
}
.primer_con_2 #leftmenu2 li{
	display:block;
	float: right;
	height: 40px;
	margin: -2px 0px 0px -38px !important;
}
#leftmenu2 li .inicio_btn { 
	background:url("../img/menu_inicio_over02.png");
	background-position: 0 0;
	height: 40px; 
	width: 207px; 
}
#leftmenu2 li .inicio_btn:hover{
	background-position: 0 -40px;
}
#leftmenu2 li .clases_btn { 
	background:url("../img/menu_mis_clases_over02.png");
	background-position: 0 0;
	height: 40px; 
	width: 207px; 
}
#leftmenu2 li .clases_btn:hover{
	background-position: 0 -40px;
}
#leftmenu2 li .mama_btn { 
	background:url("../img/menu_mi_mama_over02.png");
	background-position: 0 0;
	height: 40px; 
	width: 207px; 
}
#leftmenu2 li .mama_btn:hover{
	background-position: 0 -40px;
}
#leftmenu2 li .ropa_btn { 
	background:url("../img/menu_mi_ropa_over02.png");
	background-position: 0 0;
	height: 40px; 
	width: 207px;
}
#leftmenu2 li .ropa_btn:hover{
	background-position: 0 -40px;
}
#leftmenu2 li .salud_btn {
	background:url("../img/menu_mi_salud_over02.png");
	background-position: 0 0;
	height: 40px; 
	width: 207px; 
}
#leftmenu2 li .salud_btn:hover{
	background-position: 0 -40px;
}
#leftmenu2 li .diversion_btn { 
	background:url("../img/menu_mi_diversion_over02.png");
	background-position: 0 0;
	height: 40px; 
	width: 207px; 
}
#leftmenu2 li .diversion_btn:hover{
	background-position: 0 -40px;
}
#leftmenu2 li .fiesta_btn { 
	background:url("../img/menu_mi_fiesta_over02.png");
	background-position: 0 0;
	height: 40px; 
	width: 207px;
}
#leftmenu2 li .fiesta_btn:hover{
	background-position: 0 -40px;
}
#leftmenu2 li .detodo_btn { 
	background:url("../img/menu_detodo_over02.png");
	background-position: 0 0;
	height: 40px; 
	width: 207px; 
}
#leftmenu2 li .detodo_btn:hover{
	background-position: 0 -40px;
}
#content .wrappmaqueta2 .primer_con_2 #formulario{
	width:200px;
	height: 240px;
	float: left;
}
.primer_con_2 #formulario h2{
	color: #5EC2A5 !important;
    float: left;
    font-family: "pompiere_regular";
    font-size: 25px !important;
    height: 36px;
    margin-top: 10px;
    text-align: center;
    width: 200px;
}
#formulario #participa{
	background:url("../img/bg_contacto.png");
	width:200px;
	height: 178px;
	float: left;
}
#participa p{
	 color: #FFFFFF !important;
    font-family: "pompiere_regular";
    font-size: 18px !important;
    line-height: 15px;
    margin: 10px 0 0 20px;
}
#content .wrappmaqueta2 .primer_con_2 #formulario input, select{
	font-family: "pompiere_regular";
	margin-left: 5px;
	display: block;
	background: url('../img/input_buscar.png');
	width:190px;
	height: 20px;
	margin: 5px;
}
#formulario button.contact_btn{
	background: url('../img/bt_enviar.png');
	border: none;
    cursor: pointer;
    float: right;
    height: 24px;
    margin-right: -5px;
    width: 70px;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_nosotros{
	display:block;
	float:left;
	width:778px;
	height:540px;
	margin-left:10px;
	background: url("../img/new/Contacto_790x550.png") center;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_revista{
	display:block;
	float:left;
	width:775px;
	height:540px;
	margin-left:10px;
	background: url("../img/new/Contacto_790x550.png") center;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_revista #nubecita{
	display:none;
	position:absolute;
	width:210px;
	height:120px;
	background:url("../img/RevistaOnline_Over_v2.png") no-repeat;
	margin:-50px 740px;
	z-index: 999;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_revista #cargador{
	display:none;
	position:relative;
	width:210px;
	height:120px;
	background:url("../img/4.gif") no-repeat;
	margin:auto;
	z-index: 999;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_beneficios{
	display:block;
	float:left;
	width:778px;
	height:540px;
	margin-left:10px;
	background: url("../img/new/Contacto_790x550.png") center;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_beneficios p{
	color:#666;
	font-family:"pompiere_regular";
	font-size: 22px;
	width:580px;
	text-align: justify; 
	margin-left:100px;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_beneficios .colorb{
	color:#5EC2A5;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_beneficios h1{
	color:#5EC2A5;
	font-family:'janda_stylish_scriptregular';
	font-size: 50px;
	margin-top:50px;
	margin-left:100px;
}
#bg_beneficios .head{
	height: 80px;
    margin-left: 100px;
    margin-top: 20px;
    width: 620px;
}
#bg_beneficios ul{
	margin-top:10px;
	margin-left:105px;
	width:565px;
	height:200px;
}
#bg_beneficios ul li{
	font-size: 24px;
	color:#666;
	font-family:'pompiere_regular';
}
#bg_beneficios .head h2{
	color:#666;
	font-family:'pompiere_regular';
	font-size: 30px;
	font-weight: 100;
}
#bg_beneficios .head a{
	display: block;
    float: right;
    height: 108px;
    margin-right: 60px;
    margin-top: -70px;
    width: 108px;
	background:url("../img/boton_conoce.png");
}
#content .wrappmaqueta2 .segundo_con_2 #clientes{
	display:block;
	float:left;
	width:780px;
	height:650px;
	margin-left:30px;
	margin-top: 0px;
	background-color: #fff;
}
#content .wrappmaqueta2 .segundo_con_2 #clientesDeTodo{
	display:block;
	float:left;
	width:800px;
	height:580px;
	margin-left:0px;
	background:url("../img/DriInfantil_BG_800x580px.png");
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .buscador{
	float:left;
	margin-left:7px;
	position: relative;
	width: 730px; 
	height:auto;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .buscador p{
	position:relative;
	float:left;
	margin-left:10px;
	color:#0066CC;
	font-family: 'sf_cartoonist_handregular';
	font-size:25px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .buscador table{
	text-align: left;
	color:#666;
	font-size:18px;
	font-family:'sf_cartoonist_handregular';
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .encabezado{
	display:block;
	float:left;
	width:775px;
	height:30px;
	font-family:'pompiere_regular';
	font-size: 25px;
	margin-left:10px;
	margin-top:10px;
}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo{
	width:720px;
	height:auto;
	position:relative;
	clear:both;
	float:left;
	margin-top:10px;
	overflow: hidden;
	margin-left:40px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon{
	width:785px;
	height:600px;
	position:relative;
	clear:both;
	float:left;
	margin-top:10px;
	overflow: hidden;
	margin-left:1px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .guia_poniente{
    width:785px;
    height: auto;
    position: relative;
    float: left;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .guia_poniente .item{
    width: 184px;
    height: 175px;
    float: left;
    margin: 5px;
    position: relative;
    display: block;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    font-size: 25px;
	background:url("../img/new/BG_GuiaZP_184x175.png");
	color:#fff;
 }
 #content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .guia_poniente .item p{
 	position: relative;
 	width: auto;
 	margin-top: 36%;
 	font-family: 'janda_stylish_scriptregular';
 	font-size: 25px;
 	line-height: 30px;
 }
 #content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .guia_poniente .item:hover{
 	background:url("../img/new/BG_GuiaZP_184x175.png");
 	color:#FFD;
 }
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera{
    width:9000px;
    height: auto;
    position: relative;
    float: left;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .imprimir{
    width:auto;
    height: auto;
    position: relative;
    float: right;
    margin-right: 5px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .imprimir a{
	font-family: 'sf_cartoonist_handregular';
    font-size: 25px;
    text-decoration: none;
    color:#666;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .imprimir a:hover{
	color:#777;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .imprimir form{
    width:auto;
    height: auto;
    position: relative;
    float: right;
    margin-right: 5px;
    display: none;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .imprimir form table label{
	color: #666666;
    font-family: 'sf_cartoonist_handregular';
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .controles_guia{
    width:auto;
    height: 20px;
    position: relative;
    margin-top: 10px;
	float:left;
}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .controles{
    width:auto;
    height: auto;
    position: relative;
    float: left;
    margin-left: 1px;
}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .controles .button_controles{
    width:10px;
    margin-left: 3px;
    height: auto;
    position: relative;
    float: left;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color:#C58B41;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera .contenedor{
    float: left;
    height: auto;
    position: relative;
    width: 785px;
    margin-left: 0px;

}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera .contenedor .guia{
	width:184px;
	margin:0 35px 0 0;
	position: relative;
	float: left;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .cupon{
    width: 184px;
    height: 175px;
    float: left;
    margin: 5px;
    position: relative;
    border: 1px dashed #C58B41;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor  .cupon img{
    width: 184px;
    height:175px;
    margin: auto; 
    position: relative;
    float: left;
}
/*guia zona poniente*/
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .row-a{
    background: #E7E8E8;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .row-b{
   background: #F9F9F9;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase{
    width: 175px;
    height: 175px;
    float: left;
    margin: 5px;
    position: relative;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase_guia{
    width: 200px;
    height: 30px;
    margin: 5px 0 0 10px;
    position: relative;
    line-height: 14px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase_item_sub{
	width: 370px;
    height: 175px;
    margin: 5px 0 0 10px;
    position: relative;
    background-color: #fff;
    float: left;
    color:#666;
    font-size: 15px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase_item_sub table thead{
	font-family: 'sofia_prolight';
	font-size: 20px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase_item_sub table tbody{
	font-family: 'sofia_prolight';
	font-size: 12px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .line_dotted{
    width: 200px;
    height: 2px;
    border-bottom: dotted 2px #A1D7C5; 
    position: relative;
    display: block;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase_guia h3{
	float:left;
	font-family: 'sofia_prolight';
	width:auto;
	font-size: 18px;
	color: #fff;
	font-style: none;
	margin: 0;
	padding: 0;
	height: 0;

}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase_guia .btn_vermas{
	background:url("../img/new/boton_mas_12x30.png")no-repeat;
	display: block;
	width: 12px;
	height: 30px;
	cursor: pointer;
	float: right;
	margin-right: 10px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase .titulo {
	font-family: 'sofia_pro_condensedlight';
	font-size: 18px;
	font-style: none;	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase a{
	font-size: 15px;
	font-style: none;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase table{
	color:#666;
	font-family: 'pompiere_regular' !important;
}
/*.-------------------------------------------------------.*/
#content .wrappmaqueta2 .segundo_con_2 #clientes .contentPaginado{
	margin-top: 10px;
    clear: both;
    height: auto;
    margin-bottom: 0;
    position: relative;
    width: 100%;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contentPaginado .paginado{
	bottom: 0;
	margin-top: 10px;
    font-family: "pompiere_regular";
    font-size: 16px;
    height: auto;
    position: relative;
    right: 0;
    width: auto !important;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .paginado .btn_next_tag{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Over.png"); background-position: 0px 0px; height: 30px; width: 82.5px; margin-top:0px; float:right;}
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginado .btn_next_tag:hover{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Normal.png"); background-position: 0px 0px; height: 30px; width: 82.5px; }
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginado .btn_back_tag{ background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Over.png"); background-position: 82.5px 0px; height: 30px; width: 82.5px; float:left;}
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginado .btn_back_tag:hover{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Normal.png"); background-position: 82.5px 0px; height: 30px; width: 82.5px; }
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar{
	float: right;
    font-family: "RumpelstiltskinRegular";
    margin-right: 8px;
    position: relative;
	width: 170px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .paginadobuscar .btn_next_tag{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Over.png"); background-position: 0px 0px; height: 30px; width: 82.5px; margin-top:0px; float:right;}
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar .btn_next_tag:hover{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Normal.png"); background-position: 0px 0px; height: 30px; width: 82.5px; }
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar .btn_back_tag{ background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Over.png"); background-position: 82.5px 0px; height: 30px; width: 82.5px; float:left;}
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar .btn_back_tag:hover{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Normal.png"); background-position: 82.5px 0px; height: 30px; width: 82.5px; }
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1{
	width:770px;
	height:auto;
	position:relative;
	float:left;
	margin-left:15px;
	margin-right:10px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja{
    display: block;
    float: left;
    height: auto;
    margin: 0 30px 10px 6px;
    position: relative;
    width: 220px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .encabezadoDeTodo{
    width:220px;
	height:26px;
	background:url("../img/head.png") no-repeat;
	position:relative;
	float:left;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .encabezadoDeTodo h3{
	margin:3px 10px;
	color:#fff;
	font-size:16px;
	font-family:'IstokWebRegular';
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1{
    width:220px;
	height:18px;
	background-color:#f2f2f2;
	position:relative;
	float:left;
	cursor:pointer;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno{
	position:absolute;
	width:432px;
	height:98px;
	background:url("../img/over.png") no-repeat;
	display:none;
	z-index: 99;
	margin-top: -5px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno .informacion{
	position:absolute;
	width:200px;
	height:70px;
	margin:-2px 235px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno .informacion h3{
	color: #FFFFFF;
    font-family: 'IstokWebRegular';
    font-size: 13px;
    font-weight: bold;
    margin: 10px -220px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno .informacion p{
	color:#fff;
	font-size:12px;
	font-family:'IstokWebRegular';
	margin-top:-30px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno2{
	position:absolute;
	width:432px;
	height:98px;
	background:url("../img/overleft.png") no-repeat;
	display:none;
	z-index: 9999;
	margin: -10px -213px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno2 .informacion{
	position:absolute;
	width:600px;
	height:70px;
	margin:-2px 25px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno2 .informacion h3{
	color:#fff;
	font-size:12px;
	font-family:'IstokWebRegular';
	font-weight:bold;
	margin:10px 200px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno2 .informacion p{
	color:#fff;
	font-size:12px;
	font-family:'IstokWebRegular';
	margin-top:-30px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 h4,#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 h5{
	color:#808080;
	font-size:13px;
	font-family:'IstokWebRegular';
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 h4{
	position:absolute;
	margin: 0 10px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 h5{
	margin: -22px 133px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2{
    width:220px;
	height:18px;
	background-color:#E3E4E7;
	position:relative;
	float:left;
	cursor:pointer;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno{
	position:absolute;
	width:432px;
	height:98px;
	background:url("../img/over.png") no-repeat;
	display:none;
	z-index: 9999;
	margin-top: -10px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno .informacion{
	position:absolute;
	width:200px;
	height:70px;
	margin:-2px 235px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno .informacion h3{
	color: #FFFFFF;
    font-family: 'IstokWebRegular';
    font-size: 13px;
    font-weight: bold;
    margin: 10px -220px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno .informacion p{
	color:#fff;
	font-size:12px;
	font-family:'IstokWebRegular';
	margin-top:-30px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno2{
	position:absolute;
	width:432px;
	height:98px;
	background:url("../img/overleft.png") no-repeat;
	display:none;
	z-index: 9999;
	margin: -10px -213px;
}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno2 .informacion{
	position:absolute;
	width:600px;
	height:70px;
	margin:-2px 25px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno2 .informacion h3{
	color:#fff;
	font-size:12px;
	font-family:'IstokWebRegular';
	font-weight:bold;
	margin:10px 200px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno2 .informacion p{
	color:#fff;
	font-size:12px;
	font-family:'IstokWebRegular';
	margin-top:-30px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 h4,#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 h5{
	color:#808080;
	font-size:13px;
	font-family:'IstokWebRegular';	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 h4{
	position:absolute;
	margin: 0 10px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 h5{
	margin: -22px 133px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .separadorcaja{
    width:45px;
	height:1px;
	position:relative;
	float:left;
}
.contentClases{
	position:relative;
	float:left;	
	margin-left:5px !important;
    margin-top:10px;
    width:185px;
	height:auto;
	margin-right:5px;
}
.contentClases .dirover1{background:url("../img/new/over01.png") repeat; height: 170px; width:185px; display:block;margin-left:0px;}
.contentClases .dirover2{background:url("../img/new/over02.png")repeat; height: 170px; width:185px;  display:block;margin-left:0px;}
.contentClases .dirover3{background:url("../img/new/over03.png")repeat; height: 170px; width:185px;  display:block;margin-left:0px;}
.contentClases .dirover4{background:url("../img/new/over04.png")repeat; height: 170px; width:185px;  display:block;margin-left:0px;}
.contentClases .dirover5{background:url("../img/new/over05.png")repeat; height: 170px; width:185px;  display:block;margin-left:0px;}
.contentClases .dirover6{background:url("../img/new/over06.png")repeat; height: 170px; width:185px;  display:block;margin-left:0px;}
.contentClases .dirover7{background:url("../img/over07.png")repeat; height: 170px; width:185px;  display:block;margin-left:0px;}
.contentClases .masinfo{background:url("../img/new/Boton_VerMas_17x17.png"); height: 17px; width:17px; cursor:pointer; display:block; float:right; bottom:5px; right:5px;position:absolute;}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido{
	position:relative;
	float:left;
    width:185px;
	height:175px;
    border: solid 1px #E6E6E6 ; 
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido .imagen{
	position:relative;
	float:left;
    width:185px;
	height:80px;
	margin:30px  0px 0px 30px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido .texto{
    position:relative;
	float:left;
    width:170px;
	height:95px;
	margin: 3px 7px;
	font-family: 'pompiere_regular';
	font-size: 18px;
}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido .texto table{
	font-family:'sofia_prolight'; 
	font-size: 14px !important;
	margin-top: 3px;
	text-align: left !important;
	color: #666 !important;
	line-height: 13px;
}
.contenido .texto table th{
	font-family:'sofia_prolight'; 
	font-size: 14px !important;
	margin-top: 3px;
	text-align: left !important;
	color: #666 !important;
}
.contenido .texto table tr{
	width: 170px;
}
.contenido .texto table td p , .contenido .texto table td a{
	word-wrap:break-word;
	width: 90px;
}
.contenido .texto table td , .contenido .texto table td a{
	color: #666666 !important;
    font-family: 'sofia_prolight';
    font-size: 10px !important;
    height: 16px;
    margin-top: 3px;
    text-align: left !important;
}

#content .wrappmaqueta2 .segundo_con_2 #clientes .aparesco {
	position:absolute;
	display:none;
	width:185px;
	height: 175px;
	margin:1px;
	font-size:11px;
	color:#FFF;
	z-index: 200;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes  .aparesco a{
font-family:"IstokWebRegular";
	font-size: 11px;	
	color:#FFF;
	margin-top: -12px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes  .aparesco span{font-size: 14px !important;font-family:'sofia_prolight';}
#content .wrappmaqueta2 .segundo_con_2 #clientes  .aparesco p{ line-height:15px; margin:4px 8px;}
#content .wrappmaqueta2 .segundo_con_2 #clientes .aparesco table{
	font-family:"sofia_prolight";
	width:185px;
	height: auto;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .aparesco table thead{
	height: 30px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .aparesco table tbody{
	height: auto;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .aparesco table tbody tr{
	height: 20px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .aparesco table tbody tr td{
	height: 20px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 {
	width:100%;
	height: auto;
	float: left;
	position: relative;
	background-color: #fff;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .texto{
	position:relative;
	float:left;
	width:558px;
	height: 150px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .texto .titulo{
	position:relative;
	float:left;
	width:580px;
	height: 40px;	
}
.titulo h1{font-family: 'pompiere_regular';}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .texto .descripcion{
	position:relative;
	float:left;
	width:580px;
	height: 100px;
	padding: 1px 1px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .texto .descripcion p{
	color: #666666;
    font-family: 'pompiere_regular';
    font-size: 16px;
    margin-left: 10px;
    margin-top: 0;
    text-align: justify;
    width: 544px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .imagen{
	position:relative;
	float:left;
	width:210px;
	height: 140px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .imagen img{
	margin:10px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2{
	position:relative;
	float:left;
	width:100%;
	height: 340px;	
	background-color:#fff;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2 .espacio{
	position:relative;
	float:left;
	width:5px;
	height: 340px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2 .contenedor_gal{
	position:relative;
	float:left;
	width:760px;
	height: 340px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2 .contenedor_gal .galeria{
	position:relative;
	float:left;
	width:380px;
	height: 340px;
	z-index: 999;
	background: url("../img/new/DirInfantil_Marco_380x340px.png") center;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2 .contenedor_gal .foto{
	position:relative;
	width:350px;
	height: 260px;
	margin: 20px 12px;
	z-index: 10;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2 .btn_gal{
	position:relative;
	float:left;
	width:2px;
	height: 340px;	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2 .btn_gal input{
	margin-left:-4px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3{
	position:relative;
	float:left;
	width:100%;
	height: auto;
	background-color: #fff;
	margin-bottom: 10px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo1{
	float: left;
    height: auto;
    position: relative;
    width: 370px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo2{
	position:relative;
	float:right;
	width:370px;
	height: 200px;
	margin-right: 20px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo2 a{
	font-family:"IstokWebRegular";
	color:#E32E7A;
	font-size: 14px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo2 a:hover{
	font-family:"IstokWebRegular";
	color:#00B1bE;
	font-size: 14px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo3{
	position:relative;
	float:left;
	width:370px;
	height: 20px;
	background-color: #fff;
	padding: 5px 0;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo3 .facebook{
	font-family:"pompiere_regular";
    color:#00549E;
    font-size: 18px;
    margin: 0px 5px;
    position: absolute;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo3 .twitter{
	font-family:"pompiere_regular";
	color:#38CCFF;
	font-size: 18px;
	margin: 0px 70px;
    position: absolute;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo3 p{
	margin:-13px 5px;	
}
#content .wrappmaqueta2 .segundo_con_2 .paginado{
	float: right;
    font-family: "RumpelstiltskinRegular";
    right: 0;
    margin-bottom: 0;
    position: relative;
    width: 170px;
}
#content .wrappmaqueta2 .segundo_con_2  .paginado .btn_next_tag{
	background:url("../img/new/DirInfantil_Boton_AnteriorySiguiente_165x30_Normal.png"); 
	background-position: 82.5px 0px; 
	height: 30px; 
	width: 82.5px; 
	margin-top:0px; 
	float:right;
}
#content .wrappmaqueta2 .segundo_con_2  .paginado .btn_next_tag:hover{
	background:url("../img/new/DirInfantil_Boton_AnteriorySiguiente_165x30_Over.png"); 
	background-position: 82.5px 0px; height: 30px; width: 82.5px; 
}
#content .wrappmaqueta2 .segundo_con_2 .paginado .btn_back_tag{ 
	background:url("../img/new/DirInfantil_Boton_AnteriorySiguiente_165x30_Normal.png"); 
	background-position: 0px 0px; 
	height: 30px; 
	width: 82.5px; 
	float:left;
}
#content .wrappmaqueta2 .segundo_con_2  .paginado .btn_back_tag:hover{
	background:url("../img/new/DirInfantil_Boton_AnteriorySiguiente_165x30_Over.png"); 
	background-position: 0px 0px; height: 30px; width: 82.5px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .paginado a{
	font-family:"RumpelstiltskinRegular";
	font-size: 21px;
	color: #00B1bE;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .paginado a:hover{
	font-family:"RumpelstiltskinRegular";
	font-size: 21px;
	color:#E32E7A;
}
.paginado strong{	
	color:#666;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar{
	position:relative;
	float:right;
	font-family:"RumpelstiltskinRegular";
	margin-right:20px;
	
}
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar a{
	font-family:"RumpelstiltskinRegular";
	font-size: 21px;
	color: #00B1bE;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar a:hover{
	font-family:"RumpelstiltskinRegular";
	font-size: 21px;
	color:#E32E7A;
}
.paginadobuscar strong{
	font-size: 21px;
	color:#E32E7A;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .selected{
	font-family:"IstokWebRegular";
	color:#E32E7A;
}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo1 p,#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo2 p {
	color:#E32E7A;
	font-family:"IstokWebBold";
	font-size: 14px;
	margin-left: 5px;
    margin-top: 5px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo1 table{
	width: auto;
	height: auto;
	font-family:"pompiere_regular";
	margin-left: 5px;
    margin-top: 5px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo1 table .titulo{
	font-size: 16px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo1 table .descr{ 
	font-size: 16px;
	color: #666;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo2 p {
	margin-top: -5px !important;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_nosotros .contenido_nosotros{
	position: relative;
	/*margin-left:195px;*/
	margin-left:110px;
	margin-top:60px;	
}
.contenido_nosotros p{
	width: 542px !important;
	padding: 0 !important;
	font-size: 25px !important;
	position: relative !important;
	top: 25px !important;
	line-height: 30px !important;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_nosotros .contenido_nosotros h1{
	font-size:50px;
	color:#5EC2A5;
	font-family: 'janda_stylish_scriptregular';
}
#content .wrappmaqueta2 .segundo_con_2 #bg_nosotros .contenido_nosotros p{
	font-size:17px;
	color:#666;
	font-family: "pompiere_regular";
	line-height: 17px;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_socialres{
	display:block;
	float:left;
	width:778px;
	height:550px;
	margin-left:10px;
	background: url("../img/new/Contacto_790x550.png") center;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_socialres .contenido_socialres{
	position: relative;
	margin-left:92px;
	margin-top:75px;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_socialres .contenido_socialres h1{
	font-size:44px;
	color:#5EC2A5;
	font-family: 'janda_stylish_scriptregular';
}
#content .wrappmaqueta2 .segundo_con_2 #bg_socialres .contenido_socialres p{
	font-size:15px;
	color:#666;
	font-family: "pompiere_regular";
}
#content .wrappmaqueta2 .segundo_con_2 #bg_socialres .contenido_socialres .mitz{
	display:block;
	cursor:pointer;
	border:none;
	float:left;
	width:80px;
	height:110px;
	margin-left:0px;
	background: url("../img/enfant_logo_Mitz.png") center;
}
.contenido_socialres p{
	position: relative !important;
	width: 450px !important;
	padding: 0 !important;
	font-size: 25px !important;
	top: 0px !important;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto{
	display:block;
	float:left;
	width:778px;
	height:540px;
	margin-left:10px;
	background: url("../img/new/Contacto_790x550.png") center;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1{
	position:relative;
	float:left;
	width:410px;
	height:550px;	
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 h1{
    position: relative;
	margin-left:40px;
	margin-top:30px; 
	font-size:44px;
	color:#5EC2A5;
	font-family: 'janda_stylish_scriptregular';
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto{
	position:relative;
	margin-left:40px;
	margin-top:-10px;
	font-size:25px;
	color:#4D4D4D;
	height:500px;
	font-family: "pompiere_regular";
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto .etiquetas{
	position:relative;
	float:left;
	width:100px;
	line-height:28px;
	height:550px;	
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto .etiquetas p{
	margin-top:10px;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto .inputs{
	position:relative;
	float:left;
	width:250px;
	height:550px;	
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto .inputs input,#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto .inputs textarea{
	margin-top:10px;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto #commentForm table tbody tr td .input01{
	background:url("../img/new/Contacto_Campo01_250x20.jpg") left top no-repeat;
	width:250px;
	height: 20px;
	border:none;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto #commentForm table tbody tr td .input01:hover,
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto #commentForm table tbody tr td .input01:focus{
	background:url("../img/new/Contacto_Campo01_250x20_Over.jpg");
	box-shadow: none;
	border: none;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto #commentForm table tbody tr td select{
	background:url("../img/new/Contacto_Campo02_250x20_Normal.jpg") left top no-repeat;
	width:247px;
	height: 20px;
	border:none;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto #commentForm table tbody tr td select:hover,
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto #commentForm table tbody tr td select:focus{
	background:url("../img/new/Contacto_Campo02_250x20.jpg");
	box-shadow: none;
	border: none;
}
#commentForm .input2{
	background:url("../img/input02.png") left top no-repeat;
}
#commentForm input[type="submit"]{
	width: 120px;
	height: 20px; 
	border: none;
	background:url("../img/boton-enviar.png") left top no-repeat;
	cursor: pointer;
}
#commentForm input[type="submit"]:hover{
	background:url("../img/boton-enviar-over.png") left top no-repeat;
}
#commentForm textarea{
	border: solid 1px #FFF;	
	width: 253px;
	height: 150px;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2{
	position:relative;
	float:left;
	width:350px;
	height:100%;	
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro1{
	position:relative;
	float:left;
	height:175px;
	width:100%;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro1 p{
	position:relative;
	margin-left:40px;
	margin-top:80px;
	font-size:40px;
	color:#4D4D4D;
	font-family: "pompiere_regular";
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2{
	position:relative;
	float:left;
	height:80px;
	width:100%;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 p{
	position:relative;
	margin-left:40px;
	margin-top:14px;
	font-size:25px;
	color:#4D4D4D;
	font-family: "pompiere_regular";
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro3{
	position:relative;
	float:left;
	height:289px;
	width:100%;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro3 p{
	position:relative;
	margin-left:40px;
	margin-top:25px;
	font-size:25px;
	line-height:30px;
	color:#4D4D4D;
	font-family: "pompiere_regular";
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 .contactofb{
	background:url("../img/new/ico_fb_40x40.png"); height: 40px; width: 40px; display: block;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 .contactofb:hover{
	background:url("../img/new/ico_fb_40x40_Over.png"); height: 40px; width: 40px; display: block;
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 .contactotw{
	background:url("../img/new/ico_twitter_40x40.png"); height: 40px; width: 40px; display: block; 
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 .contactotw:hover{
	background:url("../img/new/ico_twitter_40x40_Over.png"); height: 40px; width: 40px; display: block; 
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 .contactopn{
	background:url("../img/new/ico_Pinterest_40x40.png"); height: 40px; width: 40px; display: block; 
}
#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 .contactopn:hover{
	background:url("../img/new/ico_Pinterest_40x40_Over.png"); height: 40px; width: 40px; display: block; 
}
#content .wrappmaqueta2 .segundo_con_2  #menu_con2{
	float:left;
	margin-top:0px;
	width:inherit;
	height:35px;
	margin-left:30px;
}
#content .wrappmaqueta2 .segundo_con_2  #menu_con2 ul {
	margin-top:-5px;
   	margin-left:2px;
   	width:auto;
}
#content .wrappmaqueta2 .segundo_con_2 #menu_con2 li {
	display: block;
    float:left;
    height: auto;
    margin: 5px 75px 0 -3px;
    text-align: right;
}
#content .wrappmaqueta2 .segundo_con_2 #menu_con2 li:last-child {
	margin: 5px 0px 0 -3px;
}
#content .wrappmaqueta2 .segundo_con_2 #menu_con2 li, #content .wrappmaqueta2 .segundo_con_2 #menu_con2 li, a{
	color: #666;
    font-family: 'pompiere_regular';
    font-size: 26px;
    text-decoration: none;
}
#content .wrappmaqueta2 .segundo_con_2 #menu_con2   a:hover, #content .wrappmaqueta2 .segundo_con_2 #menu_con2 a.active{
	font-family:'pompiere_regular';
	color: #5EC2A5;
}

/* ----------------------------------------------------- FOOTER ------------------------------------------------*/

#wrapp #footer{
	margin-left:-140px;
	position: relative;
	float: left;
	width: 1280px;
	height: 80px;
	background: url('../img/barra_footer.png') repeat;
}
#footer .wrapp-footer{
	width:1000px;
	margin: auto;
}
.wrapp-footer .btn-footer{
	width:40px;
	height: 80px;
	float:left;
	cursor: pointer;
	display: block;
}
.wrapp-footer #fb{
	background: url('../img/footer_fb.png') repeat;
}
.wrapp-footer #tw{
	background: url('../img/footer_twitter.png') repeat;
}
.wrapp-footer #pnt{
	background: url('../img/footer_pint.png') repeat;
}
.wrapp-footer #tb{
	background: url('../img/footer_tumblr.png') repeat;
}
.wrapp-footer #privacidad{
	color: #FFFFFF;
    cursor: pointer;
    display: block;
    float: right;
    font-family: 'pompiere_regular';
    font-size: 30px;
    height: 50px;
    margin: 20px 30px;
    text-decoration: none;
    width: 180px;
}

/*    --------------------------------    */

#goEnfant{
	height: 280px;
    margin: auto;
    position: relative;
    width: 210px;

}
#goEnfant h2{
	color: #fff !important;
    float: left;
    font-family: "bellotaregular";
    font-size: 25px !important;
    height: 36px;
    margin-top: 10px;
    text-align: center;
    width: 200px;
}
#goEnfant #participa{
	width:200px;
	height: 178px;
	float: left;
}
#goEnfant #participa p{
	color: #FFFFFF !important;
    font-family: "pompiere_regular";
    font-size: 19px !important;
    line-height: 20px;
    margin: 10px 0 0 20px;
}
#goEnfant input, select{
	font-family: "pompiere_regular";
	margin-left: 5px;
	display: block;
	background: url('../img/input_buscar.png');
	width:190px;
	height: 20px;
	margin: 5px;
}
#goEnfant button.contact_btn{
	background: url('../img/bt_enviar.png');
	border: none;
    cursor: pointer;
    float: right;
    height: 24px;
    margin-right: -5px;
    width: 70px;
}

#enfant-privacidad{
	height: auto;
    margin: auto;
    position: relative;
    width: 400px;

}
#enfant-privacidad h2{
	color: #fff !important;
    float: left;
    font-family: "pompiere_regular";
    font-size: 25px !important;
    height: 36px;
    margin-top: 10px;
    text-align: center;
    width: 200px;
}

#enfant-privacidad p{
	color: #fff !important;
    float: left;
    font-family: "pompiere_regular";
    font-size: 18px !important;
    margin-top: 10px;
    text-align: justify;
}