html, body{

	margin:0 auto;

	padding:0;

}



body {

background: url("../img/new/bg_enfant_web_01.jpg") center top repeat;
/*background: url("../img/new/Bg_1280x1280.jpg") center top repeat;*/


position:relative;

display: block;

/*background-color:#2E3494;*/

margin-bottom:0px;

}

.revista_contacto{

	width:300px;

	height: auto;

}

.bground{

	position:relative;

	height:90px;

	

	background: url("../img/new/footer_1280x90.png") repeat;

	 margin-top: -90px;

	 z-index:-1;

	

}

.bground1{

	position:relative;

	height:110px;

	

	background: url("../img/header-triangulo.png") repeat-x;

	 

	 z-index:-1;

	

}







.bground15{

	position:absolute;

	top:-60px !important;

	left:50%;

	margin-left:-500px;

	height:800px;

	width:1000px;

	background: url("../img/rayosluz.png") center top no-repeat;

	 

	 z-index:-1;

	

}



.colorrosa{

	color:#5EC2A5;

	

	

}



.proximamente{

	position:absolute;

	height:32px;

	width: 124px;

	background: url("../img/proximamente.png") repeat;

	display:none;

	z-index:100;

	}

.clearer {

  clear:both;

  display:block;

}

.transparent{

	zoom: 1;

	filter: alpha(opacity=30);

	opacity: 0.3;

}

.letra1m2{

	font-family:'RumpelstiltskinRegular';

	color: #E13300; 

	font-size: 30px; 

	margin-left: 95px !important; 

	margin-top: 0px !important;

	margin-bottom:32px;

	font-weight:bold;

}

}

.letra1{

	font-family:'RumpelstiltskinRegular';

	font-size: 36px;

	color: #00B1BE;

}

.letra2{

	font-family:"IstokWebBold";

	font-size: 14px;

	color: #000;

	width:200px;

}

.letra_destacados{

	font-family:"IstokWebRegular";

	font-size: 14px;

	color: #4d4d4d;

	

}

.letra3{

	color: #81CCB5;

    font-family: 'pompiere_regular';

    font-size: 16px;

    line-height: 17px;

    margin:30px 0px 0px 15px ;

    position: relative;

    width: 190px;

}

.letra4{

	font-family:'sofia_prolight';

	font-size: 12px;

	

	color: #5EC2A5;

	margin-left:28px;

	margin-top: -5px;

	line-height: 15px;

	width: 330px;

}

.letra5{

	font-family:'IstokWebRegular';

	font-size: 14px;

	margin-top:0px;

	color: #f4f4f4;

	margin-left:13px;

	width: 300px;

}

p.justify{

	text-align: justify !important;

}



.shadowr{

	position:absolute;

	background:url("../img/shadow04.png");

	width: 10px;

	height: 558px;

	z-index:1; 

	margin-left: 78px;

	margin-top: 70px;

}

.shadowb{

	position:absolute;

	background:url("../img/shadow02.png");

	width: 779px;

	height: 10px;

	z-index:1; 

	margin-left: -700px;

    margin-top: 622px;

}

/*TIPOS DE LETRA*/

@font-face {

    font-family: 'ArchitectsDaughterRegular';

    src: url('../font/architectsdaughter-webfont.eot');

    src: url('../font/architectsdaughter-webfont.eot?#iefix') format('embedded-opentype'),

         url('../font/architectsdaughter-webfont.woff') format('woff'),

         url('../font/architectsdaughter-webfont.ttf') format('truetype'),

         url('../font/architectsdaughter-webfont.svg#ArchitectsDaughterRegular') format('svg');

    font-weight: normal;

    font-style: normal;



}

@font-face {

    font-family: 'sf_cartoonist_handregular';

    src: url('../font/sf_cartoonist_hand-webfont.eot');

    src: url('../font/sf_cartoonist_hand-webfont.eot?#iefix') format('embedded-opentype'),

         url('../font/sf_cartoonist_hand-webfont.woff') format('woff'),

         url('../font/sf_cartoonist_hand-webfont.ttf') format('truetype'),

         url('../font/sf_cartoonist_hand-webfont.svg#sf_cartoonist_handregular') format('svg');

    font-weight: normal;

    font-style: normal;



}

@font-face {

    font-family: 'IstokWebRegular';

    src: url('../font/istokweb-regular-webfont.eot');

    src: url('../font/istokweb-regular-webfont.eot?#iefix') format('embedded-opentype'),

         url('../font/istokweb-regular-webfont.woff') format('woff'),

         url('../font/istokweb-regular-webfont.ttf') format('truetype'),

         url('../font/istokweb-regular-webfont.svg#IstokWebRegular') format('svg');

    font-weight: normal;

    font-style: normal;



}



@font-face {

    font-family: 'IstokWebBold';

    src: url('../font/istokweb-bold-webfont.eot');

    src: url('../font/istokweb-bold-webfont.eot?#iefix') format('embedded-opentype'),

         url('../font/istokweb-bold-webfont.woff') format('woff'),

         url('../font/istokweb-bold-webfont.ttf') format('truetype'),

         url('../font/istokweb-bold-webfont.svg#IstokWebBold') format('svg');

    font-weight: normal;

    font-style: normal;



}



@font-face {

    font-family: 'RumpelstiltskinRegular';

    src: url('../font/rumpelstiltskin-webfont.eot');

    src: url('../font/rumpelstiltskin-webfont.eot?#iefix') format('embedded-opentype'),

         url('../font/rumpelstiltskin-webfont.woff') format('woff'),

         url('../font/rumpelstiltskin-webfont.ttf') format('truetype'),

         url('../font/rumpelstiltskin-webfont.svg#RumpelstiltskinRegular') format('svg');

    font-weight: normal;

    font-style: normal;



}

/**/

/*Nuevos tipos de letra*/





@font-face {

    font-family: 'pompiere_regular';

    src: url('../fonts/pompiere-regular-webfont.eot');

    src: url('../fonts/pompiere-regular-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/pompiere-regular-webfont.woff') format('woff'),

         url('../fonts/pompiere-regular-webfont.ttf') format('truetype'),

         url('../fonts/pompiere-regular-webfont.svg#pompiere_regular') format('svg');

    font-weight: normal;

    font-style: normal;



}



@font-face {

    font-family: 'sofiaregular';

    src: url('../fonts/sofia-regular-webfont.eot');

    src: url('../fonts/sofia-regular-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/sofia-regular-webfont.woff') format('woff'),

         url('../fonts/sofia-regular-webfont.ttf') format('truetype'),

         url('../fonts/sofia-regular-webfont.svg#sofiaregular') format('svg');

    font-weight: normal;

    font-style: normal;



}





@font-face {

    font-family: 'sofia_pro_condensedlight';

    src: url('../fonts/sofiaprolicond-webfont.eot');

    src: url('../fonts/sofiaprolicond-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/sofiaprolicond-webfont.woff') format('woff'),

         url('../fonts/sofiaprolicond-webfont.ttf') format('truetype'),

         url('../fonts/sofiaprolicond-webfont.svg#sofia_pro_condensedlight') format('svg');

    font-weight: normal;

    font-style: normal;



}









@font-face {

    font-family: 'sofia_prolight';

    src: url('../fonts/sofiaprolight-webfont.eot');

    src: url('../fonts/sofiaprolight-webfont.eot?#iefix') format('embedded-opentype'),

         url('../fonts/sofiaprolight-webfont.woff') format('woff'),

         url('../fonts/sofiaprolight-webfont.ttf') format('truetype'),

         url('../fonts/sofiaprolight-webfont.svg#sofia_prolight') format('svg');

    font-weight: normal;

    font-style: normal;



}

/*MENU DE CLASES --- SPRITE*/

.sprite{ background:url("../img/sprite.png"); }



.anuncio_btn { 

	background:url("../img/new/Anunciate_Botones_150x50.png");

	background-position:  0px 0px; 

	height: 25px; 

	width: 150px; 

	margin-right: -7px;

}

.anuncio_btn:hover { 

	

	background-position:  0px -25px; 

	height: 25px; 

	width: 150px;

}

.blog_btn { 

	background:url("../img/new/Blog_Botones_150x50.png");

	background-position:  0px 0px; 

	height: 25px; 

	margin-right: 1px;

	width: 150px; 

}

.blog_btn:hover { background-position:  0px -25px; height: 25px; width: 150px; }

.buttons:hover { background-position:  -87px -0px; height: 33px; width: 282px; }

.clases_btn { 

	background:url("../img/new/Menu_285x280.png");

	background-position:  0px 0px; 

	height: 40px; 

	width: 285px; 

}

.clases_btn:hover {

	background:url("../img/new/Menu_285x280_Over.png");

	background-position:  0px 0px; 

	height: 40px; 

	width: 285px; 

}

.contact_link { background: url("../img/new/TeInteresa_Bg_360x65.png");  height: 65px; width: 360px; }

.contact_link:hover { background: url("../img/new/TeInteresa_Bg_360x65_Over.png");  height: 65px; width: 360px; }

.container_anunciate { 

	background: url("../img/new/Anunciate_BG_350x370.png"); 

	height: 370px; 

	width: 350px; }

.container_blog { 

	background:url("../img/new/Blog_BG_290x370.png");

	height: 370px; 

	width: 290px; }

.detodo_btn { 

	background:url("../img/new/Menu_285x280.png");

	background-position:  0px -240px; 

	height: 40px; 

	width: 285px; 

}

.detodo_btn:hover { 

	background:url("../img/new/Menu_285x280_Over.png");

	background-position:  0px -240px; 

	height: 40px; 

	width: 285px;

}
.cupon_btn { 

	background:url("../img/new/Menu_285x280_Cuponera.png");

	height: 40px; 

	width: 285px; 

}

.cupon_btn:hover { 

	background:url("../img/new/Menu_285x280_Cuponera_Over.png");

	height: 40px; 

	width: 285px;

}
.diversion_btn { 

	background:url("../img/new/Menu_285x280.png");

	background-position:  0px -120px; 

	height: 40px; 

	width: 285px; 

}

.diversion_btn:hover { 

	background:url("../img/new/Menu_285x280_Over.png");

	background-position:  0px -120px; 

	height: 40px; 

	width: 285px; 

}

.fiesta_btn { 

	background:url("../img/new/Menu_285x280.png");

	background-position:  0px -160px; 

	height: 40px; 

	width: 285px;

}

.fiesta_btn:hover { 

	background:url("../img/new/Menu_285x280_Over.png");

	background-position:  0px -160px; 

	height: 40px; 

	width: 285px; 

}

.gallery_btn_next { background-position:  -0px -340px; height: 22px; width: 25px; }

.gallery_btn_next:hover { background-position:  -25px -340px; height: 22px; width: 25px; }

.gallery_btn_prev { background-position:  -50px -340px; height: 22px; width: 25px; }

.gallery_btn_prev:hover { background-position:  -0px -362px; height: 22px; width: 25px; }

.logo_principal { background: url("../img/new/Logo_Enfant_285x140.png") no-repeat; height: 150px; width: 285px; margin-top:0px;}

.mama_btn { 

	background:url("../img/new/Menu_285x280.png");

	background-position:  0px -80px; 

	height: 40px; 

	width: 285px; 

}

.mama_btn:hover {

	background:url("../img/new/Menu_285x280_Over.png");

	background-position:  0px -80px; 

	height: 40px; 

	width: 285px; 

}

.ropa_btn { 

	background:url("../img/new/Menu_285x280.png");

	background-position:  0px -200px; 

	height: 40px; 

	width: 285px;

}

.ropa_btn:hover { 

	background:url("../img/new/Menu_285x280_Over.png");

	background-position:  0px -200px; 

	height: 40px; 

	width: 285px; 

}

.salud_btn {

	background:url("../img/new/Menu_285x280.png");

	background-position:  0px -40px; 

	height: 40px; 

	width: 285px; 

}

.salud_btn:hover {

	background:url("../img/new/Menu_285x280_Over.png");

	background-position:  0px -40px; 

	height: 40px; 

	width: 285px; 

}

.search_btn { background-position:  -817px -286px; height: 35px; width: 84px; position: absolute; top: 0px !important; right: -10px !important; border:0; float:right; z-index: 1;}

.search_btn:hover { background-position:  -537px -321px; height: 35px; width: 84px; }

.search_bg { 

	background: url("../img/new/Enfant_Buscador_285x30.png"); 

	width: 285px; 

	height: 30px; 

	position: relative; 

	border:none;

	padding: 0;

}

.search_input { 

	border: medium none;

    display: block;

    height: 17px;

    margin: 6px 10px;

    width: 250px;

    z-index: 1;

    padding: 0;

    position: absolute;

}

.search_input:focus{

	border: none;

	box-shadow: none;

}



.socialFB_btn { 

background:url("../img/new/Logo_RedesSociales_255x115.png"); 

background-position:  0px 0px; 

height: 115px;

width: 85px; 

position: relative;

 z-index: 100;

 display: block;

 float: left;

}

.socialFB_btn:hover {

background:url("../img/new/Logo_RedesSociales_255x115_Over.png"); 

background-position:  0px 0px; 	

}

.socialT_btn { 

 background:url("../img/new/Logo_RedesSociales_255x115.png"); 

background-position:  170px 0px; 

 position: relative;

    z-index: 100;

    display: block;

    float: left;

    height: 115px; 

width: 85px;

}

.socialT_btn:hover {

background:url("../img/new/Logo_RedesSociales_255x115_Over.png"); 

background-position:  170px 0px; 	

}

.socialPint_btn{

 background:url("../img/new/Logo_RedesSociales_255x115.png"); 

background-position:  85px 0px; 

 position: relative;

    z-index: 100;

    display: block;

    float: left;

    height: 115px; 

width: 85px;



}

.socialPint_btn:hover {

background:url("../img/new/Logo_RedesSociales_255x115_Over.png"); 

background-position:  85px 0px; 	

}

.socialFB_btn1 { 

background-position:  -0px -384px; 

height: 65px; 

width: 42px; 

margin-left: 28px !important;

    margin-top: 68px !important;

    position: absolute;

    z-index: 100;

}

.socialT_btn1 { 

 background-position:  -0px -449px; height: 72px; width: 42px;

margin-left: 28px !important;

    margin-top: 250px !important;

    position: absolute;

    z-index: 100;

}

.socialTh_btn1{

 background:url("../img/tumblr.png"); height: 65px; width: 42px;

margin-left: 28px !important;

    margin-top: 125px !important;

    position: absolute;

    z-index: 100;



}

.socialPint_btn1{

 background:url("../img/globo-pinterest.png"); height: 65px; width: 42px;

margin-left: 28px !important;

    margin-top: 182px !important;

    position: absolute;

    z-index: 100;



}

.star_fb_btn { background-position:  -42px -384px; height: 35px; width: 37px; }

.star_fb_btn:hover { background-position:  -42px -449px; height: 35px; width: 37px; }

.star_tweet_btn { background-position:  -42px -484px; height: 35px; width: 37px; }

.star_tweet_btn:hover { background-position:  -0px -521px; height: 35px; width: 37px; }

.mooid{ background:url("../img/mooid_icon_30x.png"); background-position:0px 0px; height: 30px; width: 70px; display:block; float:right; margin-top:-5px;}

.mooid:hover{background-position:0px -30px; }

.footerfb{ 

	background:url("../img/new/Footer_RedesSociales_135x60px.png"); 

	background-position:0px 0px;

	height: 30px; 

	width: 45px; 

	display: block;

	float: left;

	}

.footerfb:hover{background-position:0px -30px;}

.footertw{

	background:url("../img/new/Footer_RedesSociales_135x60px.png"); 

	background-position:-45px 0px;

	height: 30px; 

	width: 45px; 

	display: block;

	float: left;

}

.footertw:hover{background-position:-45px -30px;}

.footerpin{ 

	background:url("../img/new/Footer_RedesSociales_135x60px.png"); 

	background-position:-90px 0px;

	height: 30px; 

	width: 45px; 

	display: block;

	float: left;

}

.footerpin:hover{background-position:-90px -30px;}



.sprite3{ background:url("../img/sprite2.png"); }





.back_bnt { background-position:  -0px -0px; height: 25px; width: 25px; }

.back_bnt:hover{ background-position:  -0px -25px; height: 25px; width: 25px; }

.clases2_btn { 

	background:url("../img/new/Menu02_207x280.png");

	background-position:  0px 0px; 

	height: 40px; 

	width: 207px;

}

.clases2_btn:hover{ 

	background:url("../img/new/Menu02_207x280_Over.png");

	background-position:  0px 0px; 

	height: 40px; 

	width: 207px; 

}

.contact_bg { 

	background:url("../img/new/BG_Participa_207x204.png") no-repeat; 

	height: 204px; 

	width: 207px; 

	padding: 10px 0;

}

.contact_btn { 

	background:url("../img/new/Boton_Participa_70x50.png") no-repeat;

	background-position:  0px 0px;   

	height: 25px; 

	width: 70px; 

	cursor:pointer; 

	margin-top:5px !important; }

.contact_btn:hover { background-position:  0px -25px; }

.contact_dropdown_btn { background-position:  -25px -92px; height: 21px; width: 191px; }

.contact_input { 

	background:url("../img/new/Campo01_Participa_190x20.png"); 

	height: 20px;

    margin-left: 10px !important;

    padding: 0 5px;

    width: 180px;

    position: relative;

}

.contact_input_select{

	background:url("../img/new/Campo02_Participa_190x20.png"); 

	height: 20px;

    margin-left: 10px !important;

    width: 187px;

    position: relative;

}

.contact_input_select:hover,.contact_input_select:focus{

	background:url("../img/new/Campo02_Participa_190x20_Over.png");

	box-shadow: none;

	border:none; 

}

.contact_input:hover,.contact_input:focus{

	background:url("../img/new/Campo01_Participa_190x20_Over.png");

	box-shadow: none;

	border:none; 

}

.diversion2_btn { 

	background:url("../img/new/Menu02_207x280.png");

	background-position:  0px -120px; 

	height: 40px; 

	width: 207px;

}

.diversion2_btn:hover { 

	background:url("../img/new/Menu02_207x280_Over.png");

	background-position:  0px -120px; 

	height: 40px; 

	width: 207px;

}

.fiesta2_btn { 

	background:url("../img/new/Menu02_207x280.png");

	background-position:  0px -160px; 

	height: 40px; 

	width: 207px;

}

.fiesta2_btn:hover {

	background:url("../img/new/Menu02_207x280_Over.png");

	background-position:  0px -160px; 

	height: 40px; 

	width: 207px;

}

.info_btn { background-position:  -161px -70px; height: 22px; width: 42px; }

.info_btn:hover{ background-position:  -25px -274px; height: 22px; width: 42px; }

.kid { 

	background-position:  -25px -296px;height: 85px; width: 85px; 

margin-left:710px !important; margin-top: 2px !important;

 }

.logo_principal2 { background: url("../img/LogoEnfant_210x120_v3.png"); height: 120px; width: 210px; }

.mama2_btn { 

	background:url("../img/new/Menu02_207x280.png");

	background-position:  0px -80px; 

	height: 40px; 

	width: 207px;

}

.mama2_btn:hover { 

	background:url("../img/new/Menu02_207x280_Over.png");

	background-position:  0px -80px; 

	height: 40px; 

	width: 207px;

}

.next_pic { background-position:  -0px -50px; height: 25px; width: 22px; }

.next_pic:hover { background-position:  -0px -75px; height: 25px; width: 22px; }

.over { background-position:  -235px -316px; height: 170px; width: 185px; }

.pause_pic { background-position:  -0px -100px; height: 25px; width: 25px; }

.pause_pic:hover { background-position:  -0px -125px; height: 25px; width: 25px; }

.ropa2_btn { 

	background:url("../img/new/Menu02_207x280.png");

	background-position:  0px -200px; 

	height: 40px; 

	width: 207px;

}

.ropa2_btn:hover { 

	background:url("../img/new/Menu02_207x280_Over.png");

	background-position:  0px -200px; 

	height: 40px; 

	width: 207px;

 }

.salud2_btn { 

	background:url("../img/new/Menu02_207x280.png");

	background-position:  0px -40px; 

	height: 40px; 

	width: 207px;

}

.salud2_btn:hover { 

	background:url("../img/new/Menu02_207x280_Over.png");

	background-position:  0px -40px; 

	height: 40px; 

	width: 207px;

}

.search2_bg { background:url("../img/new/Buscar02_207x30.png"); height: 30px; width: 207px; border:none;padding:0!important;}

.search2_input { 

 border: medium none;

    height: 19px;

    margin: 6px;

    padding: 0 5px;

    position: absolute;

    width: 166px;

    z-index: 1;

 }

 .search2_input:focus{

 	box-shadow: none;

 	border: none;

 }

.search2_send_btn { 

 background-position:  -700px -70px; 

 height: 35px; 

 width: 100px; 

 position: absolute;

 z-index: 5; 

 cursor:pointer;

 border:none;

 margin:-9px 105px;

 }

.search2_send_btn:hover { background-position:  -526px -105px;}

.todo2_btn {

	background:url("../img/new/Menu02_207x280.png");

	background-position:  0px -240px; 

	height: 40px; 

	width: 207px;

}

.todo2_btn:hover {

	background:url("../img/new/Menu02_207x280_Over.png");

	background-position:  0px -240px; 

	height: 40px; 

	width: 207px;

}
.cupon2_btn {

	background:url("../img/new/Menu_207x40_Cuponera.png");

	height: 40px; 

	width: 207px;

}

.cupon2_btn:hover {

	background:url("../img/new/Menu_207x40_Cuponera-02.png");

	height: 40px; 

	width: 207px;

}


.sprite_btn{ background:url("../img/btn.png"); }

.back_bnt { background-position:  -0px -0px; height: 25px; width: 22px; }

.back_bnt:hover { background-position:  -0px -25px; height: 25px; width: 22px; }

.next_pic { background-position:  -0px -50px; height: 25px; width: 22px; }

.next_pic:hover{ background-position:  -0px -75px; height: 25px; width: 22px; }

.pause_pic { background-position:  -0px -100px; height: 25px; width: 25px; }

.pause_pic:hover { background-position:  -0px -125px; height: 25px; width: 25px; color:#999999;}

.campo_participa{

	background:url("../img/new/Campo01_Participa_158x20.jpg"); 

	height: 20px; 

	width: 148px;

	padding:0 5px;

	color:#999999; 

	float: left;

}

.campo_participa:hover,.campo_participa:focus{

	background:url("../img/new/Campo01_Participa_158x20_Over.jpg"); 

	height: 20px; 

	width: 148px;

}

.campo_select_participa{background:url("../img/Campo02_Participa_158x25px_V2.png"); height: 25px; width: 158px;color:#999999; float:left;}

.campo_select_participa:hover{background:url("../img/Campo02_Participa_158x25px_V2_Over.png"); height: 25px; width: 158px;}

.enviar{

	background:url("../img/new/Boton_Participa_70x50.png"); 

	height: 25px; 

	width:70px; 

	background-position: 0px 0px;

	cursor:pointer;

}

.enviar:hover{background-position: 0px -25px; }





.btn_next{

	background:url("../img/new/Destacados_Boton_44x25.png"); 

	background-position: 0px 0px; 

	height: 25px; 

	width: 22px; 

}

.btn_next:hover{

	background:url("../img/new/Destacados_Boton_44x25_Over.png"); 

	background-position: 0px 0px; 

	height: 25px; 

	width: 22px; 	

}

.btn_back{ 

	background:url("../img/new/Destacados_Boton_44x25.png"); 

	background-position: 22px 0px; 

	height: 25px; 

	width: 22px; 

}

.btn_back:hover{

	background:url("../img/new/Destacados_Boton_44x25_Over.png"); 

	background-position: 22px 0px; 

	height: 25px; 

	width: 22px; 

}



.dirover1{background:url("../img/new/over01.png") repeat; height: 170px; width:185px; display:block;margin-left:0px;}

.dirover2{background:url("../img/new/over02.png")repeat; height: 170px; width:185px;  display:block;margin-left:0px;}

.dirover3{background:url("../img/new/over03.png")repeat; height: 170px; width:185px;  display:block;margin-left:0px;}

.dirover4{background:url("../img/new/over04.png")repeat; height: 170px; width:185px;  display:block;margin-left:0px;}

.dirover5{background:url("../img/new/over05.png")repeat; height: 170px; width:185px;  display:block;margin-left:0px;}

.dirover6{background:url("../img/new/over06.png")repeat; height: 170px; width:185px;  display:block;margin-left:0px;}

.dirover7{background:url("../img/over07.png")repeat; height: 170px; width:185px;  display:block;margin-left:0px;}



.masinfo{background:url("../img/new/Boton_VerMas_17x17.png"); height: 17px; width:17px; cursor:pointer; display:block; float:right; bottom:5px; right:5px;position:absolute;}

/*.masinfo1:hover{background:url("../img/info_btn02.png"); }

.masinfo2{background:url("../img/info_btn01.png"); height: 22px; width:42px; cursor:pointer; display:block;float:right; bottom:5px; right:5px; position:absolute;}

.masinfo2:hover{background:url("../img/info_btn03.png"); }

.masinfo3{background:url("../img/info_btn01.png"); height: 22px; width:42px; cursor:pointer; display:block;float:right; bottom:5px; right:5px;position:absolute;}

.masinfo3:hover{background:url("../img/info_btn04.png"); }

.masinfo4{background:url("../img/info_btn01.png"); height: 22px; width:42px; cursor:pointer; display:block;float:right; bottom:5px; right:5px;position:absolute;}

.masinfo4:hover{background:url("../img/info_btn05.png"); }

.masinfo5{background:url("../img/info_btn01.png"); height: 22px; width:42px; cursor:pointer; display:block;float:right; bottom:5px; right:5px;position:absolute;} 

.masinfo5:hover{background:url("../img/info_btn06.png"); }

.masinfo6{background:url("../img/info_btn01.png"); height: 22px; width:42px; cursor:pointer; display:block;float:right; bottom:5px; right:5px;position:absolute;}

.masinfo6:hover{background:url("../img/info_btn07.png"); }*/

.masinfo7{background:url("../img/info_btn01.png"); height: 22px; width:42px; cursor:pointer; display:block;float:right; bottom:5px; right:5px;position:absolute;}

.masinfo7:hover{background:url("../img/info_btn08.png"); }



.btn_gal_next{

	background:url("../img/new/Destacados_Boton_44x25.png")no-repeat; 

	background-position: -22px 0px;

	height: 25px; 

	width:22px; 

	cursor:pointer;

	display:block;

	border:0; 

	z-index: 5;

}

.btn_gal_next:hover{

	background:url("../img/new/Destacados_Boton_44x25_Over.png")no-repeat;

	background-position: -22px 0px;

}

.btn_gal_back{

	background:url("../img/new/Destacados_Boton_44x25.png")no-repeat; 

	background-position: 0px 0px;

	height: 25px; 

	width:22px; 

	cursor:pointer;

	display:block;

	border:0; 

	z-index: 5;

}

.btn_gal_back:hover{

	background:url("../img/new/Destacados_Boton_44x25_Over.png")no-repeat;

	background-position: 0px 0px;

}



#wrapp {

	position:relative;

  margin-bottom:0;

  margin-left:auto;

  margin-right:auto;

  

  height: 100%;

  overflow: hidden;	/* Para englobar los elementos de un padre*/



  

}

.wrapp{

	margin-bottom:10px;

  margin-left:auto;

  margin-right:auto;

  margin-top:-10px;

  width: 1000px;

  position:relative;

 

 

	

}

.wrappmaqueta2{

	

	margin-bottom:10px;

  margin-left:auto;

  margin-right:auto;

  margin-top:-10px;

  width: 1000px;

  position:relative;

}

#header{

	height: auto;

	width: auto;

	position: relative;

}

#header .wrapp{

	

	

	height: 160px;

	width:1000px;

	

}

#header .wrapp .logotipo{

	margin-top:15px;

	float:left;

	width: 285px;

	height:150px;

	position: relative;

	

}

#header .wrapp .logotipo a{

	display:block;

}

#header .wrapp .social{

	float:right;

	width: 255px;

	height:115px;

	

	position: relative;

}

/*Contenido .....*/

#wrapp #content{

	height: auto;

    position: relative;

    width: 1000px;

    margin:auto;

    margin-bottom: 20px;

}

#content .wrapp{

	

	margin-top:0px !important;

	height: 860px;

	

}

#content .wrappmaqueta2{

	position:relative;

	margin:auto !important;

	margin: 0px auto 23px !important;

	height: 100%;

	

}



#content .wrapp .con1{

	

	margin-top:0px;

	height: auto;

	width:1000px;

	

}



#content .wrapp .con1 .primer_con{

	float:left;

	width:285px;

	height:auto;

	

}

#content .wrappmaqueta2 .primer_con_2{

	float:left;

	width:208px;

	height:630px;

	}



#content .wrappmaqueta2 .segundo_con_2{

	float:left;

	width:778px;

	height:auto;

	

}

#content .wrappmaqueta2 .primer_con_2 .logotipo2{

	float:left;

	width: 208px;

	height:120px;

	

	

}

#content .wrappmaqueta2 .primer_con_2 .logotipo2 a{

	display:block;

}





#content .wrappmaqueta2 .primer_con_2 #search2{

	display: block;

	float:left;

	width: 208px;

	height:40px;

	margin-bottom:0px;

}

#content .wrappmaqueta2 .primer_con_2  #leftmenu2{

	display:block;

	width:208px;

	height:auto;

	float:left;

	

}



#content .wrappmaqueta2 .primer_con_2  #leftmenu2 ul{

	position:relative;

	float: left;

	

	

}

#content .wrappmaqueta2 .primer_con_2  #leftmenu2 li{



	display:block;

	float: right;

	height: 40px;

	margin: -2px 0px 0px -38px !important;

}

#content .wrappmaqueta2 .primer_con_2  #leftmenu2  a{

	display:block;

}

#content .wrappmaqueta2 .primer_con_2 #formulario{

	float: left;

	width:208px;

	height: 168px;

	margin-left: -10px !important;

	margin-top:20px;

}

#content .wrappmaqueta2 .primer_con_2 #formulario input, select{

	font-family: "pompiere_regular";

	/*color:#4D4D4D;*/

	margin-left: 5px;

	

}

#content .wrappmaqueta2 .segundo_con_2 #bg_nosotros{

	display:block;

	float:left;

	width:778px;

	height:550px;

	margin-left:10px;

	background: url("../img/new/Contacto_790x550.png") center;

	/*background: url("../img/q-somos.png") center;*/

}

#content .wrappmaqueta2 .segundo_con_2 #bg_revista{

	display:block;

	float:left;

	width:775px;

	height:550px;

	

	margin-left:10px;

	

	background: url("../img/new/Contacto_790x550.png") center;

}

#content .wrappmaqueta2 .segundo_con_2 #bg_revista #nubecita{

	display:none;

	position:absolute;

	width:210px;

	height:120px;

	background:url("../img/RevistaOnline_Over_v2.png") no-repeat;

	margin:-50px 740px;

	z-index: 999;

}

#content .wrappmaqueta2 .segundo_con_2 #bg_revista #cargador{

	display:none;

	position:relative;

	width:210px;

	height:120px;

	background:url("../img/4.gif") no-repeat;

	margin:auto;

	z-index: 999;

}

#content .wrappmaqueta2 .segundo_con_2 #bg_beneficios{

	display:block;

	float:left;

	width:778px;

	height:550px;

	margin-left:10px;

	background: url("../img/new/Contacto_790x550.png") center;

}

#content .wrappmaqueta2 .segundo_con_2 #bg_beneficios p{

	color:#666;

	font-family:"pompiere_regular";

	font-size: 22px;

	width:490px; 

	margin-left:100px;

	

}

#content .wrappmaqueta2 .segundo_con_2 #bg_beneficios .colorb{

	color:#5EC2A5;

}

#content .wrappmaqueta2 .segundo_con_2 #bg_beneficios h1{

	color:#5EC2A5;

	font-family:"sofiaregular";

	font-size: 36px;

	margin-top:50px;

	margin-left:100px;

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes{

	display:block;

	float:left;

	width:788px;

	height:650px;

	margin-left:0px;

	margin-top: 0px;

	/*background:url("../img/DriInfantil_BG_800x580px.png");*/

	background-color: #fff;

	

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientesDeTodo{

	display:block;

	float:left;

	width:800px;

	height:580px;

	margin-left:0px;

	background:url("../img/DriInfantil_BG_800x580px.png");

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .buscador{

	

	float:left;

	margin-left:7px;

	position: relative;

	width: 730px; 

	height:500px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .buscador p{

	position:relative;

	float:left;

	margin-left:10px;

	color:#0066CC;

	font-family: 'sf_cartoonist_handregular';

	font-size:25px;

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .buscador table{

	text-align: left;

	color:#666;

	font-size:18px;

	font-family:'sf_cartoonist_handregular';

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .encabezado{

	display:block;

	float:left;

	width:775px;

	height:30px;

	font-family:'pompiere_regular';

	font-size: 25px;

	margin-left:10px;

	margin-top:10px;

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo{

	width:720px;

	height:auto;

	position:relative;

	clear:both;

	float:left;

	margin-top:10px;

	overflow: hidden;

	margin-left:40px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon{

	width:785px;

	height:600px;

	position:relative;

	clear:both;

	float:left;

	margin-top:10px;

	overflow: hidden;

	margin-left:1px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .guia_poniente{

    width:785px;

    height: auto;

    position: relative;

    float: left;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .guia_poniente .item{

    width: 184px;

    height: 175px;

    float: left;

    margin: 5px;

    position: relative;

    display: block;

    text-decoration: none;

    cursor: pointer;

    text-align: center;

    font-size: 25px;

	background:url("../img/new/BG_GuiaZP_184x175.png");

	color:#fff;

 }



 #content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .guia_poniente .item p{

 	position: relative;

 	width: auto;

 	margin-top: 36%;

 	font-family: 'sofiaregular';

 	

 	font-size: 25px;

 	line-height: 30px;

 	

 }

 #content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .guia_poniente .item:hover{

 	background:url("../img/new/BG_GuiaZP_184x175.png");

 	color:#FFD;

 }

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera{

    width:9000px;

    height: auto;

    position: relative;

    float: left;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .imprimir{

    width:auto;

    height: auto;

    position: relative;

    float: right;

    margin-right: 5px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .imprimir a{

	font-family: 'sf_cartoonist_handregular';

    font-size: 25px;

    text-decoration: none;

    color:#666;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .imprimir a:hover{

	color:#777;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .imprimir form{

    width:auto;

    height: auto;

    position: relative;

    float: right;

    margin-right: 5px;

    display: none;

}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .imprimir form table label{
	 color: #666666;
    font-family: 'sf_cartoonist_handregular';
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .controles_guia{

    width:auto;
    height: 20px;
    position: relative;
    margin-top: 10px;
	float:left;
}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .controles{

    width:auto;

    height: auto;

    position: relative;

    float: left;

    margin-left: 1px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .controles .button_controles{

    width:10px;

    margin-left: 3px;

    height: auto;

    position: relative;

    float: left;

    text-align: center;

    text-decoration: none;

    cursor: pointer;

    color:#C58B41;



}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera .contenedor{

    float: left;

    height: auto;

    position: relative;

    width: 785px;

    margin-left: 0px;

}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera .contenedor .guia{
	width:184px;
	margin:0 35px 0 0;
	position: relative;
	float: left;
}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .cupon{

    width: 184px;

    height: 175px;

    float: left;

    margin: 5px;

    position: relative;

    border: 1px dashed #C58B41;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor  .cupon img{

   width: 184px;

    height:175px;

    margin: auto; 

    position: relative;

    float: left;

}

/*guia zona poniente*/

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .row-a{

    background: #E7E8E8;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .row-b{

   background: #F9F9F9;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase{

    width: 175px;

    height: 175px;

    float: left;

    margin: 5px;

    position: relative;

    

}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase_guia{
    width: 200px;
    height: 30px;
    margin: 5px 0 0 10px;
    position: relative;
    line-height: 14px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase_item_sub{
	width: 370px;
    height: 175px;
    margin: 5px 0 0 10px;
    position: relative;
    background-color: #fff;
    float: left;
    color:#666;
    font-size: 15px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase_item_sub table thead{
font-family: 'sofia_prolight';
font-size: 20px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase_item_sub table tbody{
font-family: 'sofia_prolight';
font-size: 12px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .line_dotted{
    width: 200px;
    height: 2px;
    border-bottom: dotted 2px #A1D7C5; 
    position: relative;
    display: block;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase_guia h3{
	float:left;
	font-family: 'sofia_prolight';
	width:auto;
	font-size: 18px;
	color: #fff;
	font-style: none;
	margin: 0;
	padding: 0;
	height: 0;

}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase_guia .btn_vermas{
	background:url("../img/new/boton_mas_12x30.png")no-repeat;
	display: block;
	width: 12px;
	height: 30px;
	cursor: pointer;
	float: right;
	margin-right: 10px;
}
#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase .titulo {

font-family: 'sofia_pro_condensedlight';

font-size: 18px;

font-style: none;	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase a{

font-size: 15px;

font-style: none;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodoCupon .laCuponera  .contenedor .clase table{

color:#666;

font-family: 'pompiere_regular' !important;

}

/*.-------------------------------------------------------.*/

#content .wrappmaqueta2 .segundo_con_2 #clientes .contentPaginado{

	margin-top: 10px;

    clear: both;

    height: auto;

    margin-bottom: 0;

    position: relative;

    width: 100%;



}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contentPaginado .paginado{

	bottom: 0;

   margin-top: 10px;

    font-family: "pompiere_regular";

    font-size: 16px;

    height: auto;

   

    position: relative;

    right: 0;

    width: auto !important;

}



#content .wrappmaqueta2 .segundo_con_2 #clientes .paginado .btn_next_tag{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Over.png"); background-position: 0px 0px; height: 30px; width: 82.5px; margin-top:0px; float:right;}

#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginado .btn_next_tag:hover{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Normal.png"); background-position: 0px 0px; height: 30px; width: 82.5px; }

#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginado .btn_back_tag{ background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Over.png"); background-position: 82.5px 0px; height: 30px; width: 82.5px; float:left;}

#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginado .btn_back_tag:hover{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Normal.png"); background-position: 82.5px 0px; height: 30px; width: 82.5px; }

#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar{

	float: right;

    font-family: "RumpelstiltskinRegular";

    margin-right: 8px;

    margin-top: 35px;

    position: relative;

    width: 170px;

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .paginadobuscar .btn_next_tag{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Over.png"); background-position: 0px 0px; height: 30px; width: 82.5px; margin-top:0px; float:right;}

#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar .btn_next_tag:hover{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Normal.png"); background-position: 0px 0px; height: 30px; width: 82.5px; }

#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar .btn_back_tag{ background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Over.png"); background-position: 82.5px 0px; height: 30px; width: 82.5px; float:left;}

#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar .btn_back_tag:hover{background:url("../img/DirInfantil_Boton_SiguienteyAnterior_165x30px_Normal.png"); background-position: 82.5px 0px; height: 30px; width: 82.5px; }



#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1{

	width:770px;

	height:auto;

	position:relative;

	float:left;

	

	margin-left:15px;

	margin-right:10px;

}



#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja{

    display: block;

    float: left;

    height: auto;

    margin: 0 30px 10px 6px;

    position: relative;

    width: 220px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .encabezadoDeTodo{

    width:220px;

	height:26px;

	background:url("../img/head.png") no-repeat;

	position:relative;

	float:left;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .encabezadoDeTodo h3{

	margin:3px 10px;

	color:#fff;

	font-size:16px;

	font-family:'IstokWebRegular';

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1{

    width:220px;

	height:18px;

	background-color:#f2f2f2;

	position:relative;

	float:left;

	cursor:pointer;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno{

	position:absolute;

	width:432px;

	height:98px;

	background:url("../img/over.png") no-repeat;

	display:none;

	z-index: 99;

	margin-top: -5px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno .informacion{

	position:absolute;

	width:200px;

	height:70px;

	margin:-2px 235px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno .informacion h3{

	color: #FFFFFF;

    font-family: 'IstokWebRegular';

    font-size: 13px;

    font-weight: bold;

    margin: 10px -220px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno .informacion p{

	color:#fff;

	font-size:12px;

	font-family:'IstokWebRegular';

	margin-top:-30px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno2{

	position:absolute;

	width:432px;

	height:98px;

	background:url("../img/overleft.png") no-repeat;

	display:none;

	z-index: 9999;

	margin: -10px -213px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno2 .informacion{

	position:absolute;

	width:600px;

	height:70px;

	margin:-2px 25px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno2 .informacion h3{

	color:#fff;

	font-size:12px;

	font-family:'IstokWebRegular';

	font-weight:bold;

	margin:10px 200px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 .relleno2 .informacion p{

	color:#fff;

	font-size:12px;

	font-family:'IstokWebRegular';

	margin-top:-30px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 h4,#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 h5{

	color:#808080;

	font-size:13px;

	font-family:'IstokWebRegular';

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 h4{

	position:absolute;

	margin: 0 10px;

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea1 h5{

	

	margin: -22px 133px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2{

    width:220px;

	height:18px;

	background-color:#E3E4E7;

	position:relative;

	float:left;

	cursor:pointer;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno{

	position:absolute;

	width:432px;

	height:98px;

	background:url("../img/over.png") no-repeat;

	display:none;

	z-index: 9999;

	margin-top: -10px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno .informacion{

	position:absolute;

	width:200px;

	height:70px;

	margin:-2px 235px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno .informacion h3{

	color: #FFFFFF;

    font-family: 'IstokWebRegular';

    font-size: 13px;

    font-weight: bold;

    margin: 10px -220px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno .informacion p{

	color:#fff;

	font-size:12px;

	font-family:'IstokWebRegular';

	margin-top:-30px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno2{

	position:absolute;

	width:432px;

	height:98px;

	background:url("../img/overleft.png") no-repeat;

	display:none;

	z-index: 9999;

	margin: -10px -213px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno2 .informacion{

	position:absolute;

	width:600px;

	height:70px;

	margin:-2px 25px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno2 .informacion h3{

	color:#fff;

	font-size:12px;

	font-family:'IstokWebRegular';

	font-weight:bold;

	margin:10px 200px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 .relleno2 .informacion p{

	color:#fff;

	font-size:12px;

	font-family:'IstokWebRegular';

	margin-top:-30px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 h4,#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 h5{

	color:#808080;

	font-size:13px;

	font-family:'IstokWebRegular';

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 h4{

	position:absolute;

	margin: 0 10px;

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .caja .linea2 h5{

	

	margin: -22px 133px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .detodo .seccion1 .separadorcaja{

    width:45px;

	height:1px;

	position:relative;

	float:left;

}

.contentClases{

position:relative;

	float:left;	

	 margin-left:5px !important;

    margin-top:10px;

     width:185px;

	height:175px;

	margin-right:5px;

}



#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido{

	position:relative;

	float:left;

    width:185px;

	height:175px;

	

    border: solid 1px #E6E6E6 ; 

    

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido .imagen{

	position:relative;

	float:left;

    width:185px;

	height:80px;

	margin-top:3px;

	margin-left:25px;

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido .texto{

    position:relative;

	float:left;

    width:170px;

	height:95px;

	margin: 3px 7px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido .texto span{

	font-size: 22px;

	font-family:'sofia_prolight'; 

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido .texto p{

	font-family:'sofia_prolight'; 

	font-size: 14px;

	margin-top: 3px;

	text-align: left !important;

	color: #666;

	line-height: 13px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .aparesco {

	position:absolute;

	display:none;

	width:185px;

	height: 175px;

	margin:1px;

	font-size:11px;

	color:#FFF;

	z-index: 200;

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes  .aparesco a{

font-family:"IstokWebRegular";

	font-size: 11px;	

	color:#FFF;

	margin-top: -12px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes  .aparesco span{font-size: 14px !important;font-family:'sofia_prolight';}

#content .wrappmaqueta2 .segundo_con_2 #clientes  .aparesco p{ line-height:15px; margin:4px 8px;}

#content .wrappmaqueta2 .segundo_con_2 #clientes .aparesco table{

	font-family:"sofia_prolight";

	width:185px;

	height: auto;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .aparesco table thead{

	height: 30px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .aparesco table tbody{

	height: auto;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .aparesco table tbody tr{

	height: 20px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .aparesco table tbody tr td{

	height: 20px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 {

	width:100%;

	height: auto;

	float: left;

	position: relative;

	background-color: #fff;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .texto{

	position:relative;

	float:left;

	width:558px;

	height: 150px;

	

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .texto .titulo{

	position:relative;

	float:left;

	width:580px;

	height: 40px;

	

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .texto .titulo h1,h2,h3,h4{

	color:#E32E7A;

	font-family:"pompiere_regular";

	font-size: 32px;

	margin-left: 10px;

    margin-top: 5px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .texto .descripcion{

	position:relative;

	float:left;

	width:580px;

	height: 100px;

	padding: 1px 1px;

	

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .texto .descripcion p{

	color: #666666;

    font-family: 'sofia_prolight';

    font-size: 12px;

    margin-left: 10px;

    margin-top: 0;

    text-align: justify;

    width: 544px;

}



#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .imagen{

	position:relative;

	float:left;

	width:210px;

	height: 140px;

	

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido1 .imagen img{

	margin:10px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2{

	position:relative;

	float:left;

	width:100%;

	height: 340px;

	

	background-color:#fff;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2 .espacio{

	position:relative;

	float:left;

	width:5px;

	height: 340px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2 .contenedor_gal{

	position:relative;

	float:left;

	width:760px;

	height: 340px;

	

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2 .contenedor_gal .galeria{

	position:relative;

	float:left;

	width:380px;

	height: 340px;

	z-index: 999;

	background: url("../img/new/DirInfantil_Marco_380x340px.png") center;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2 .contenedor_gal .foto{

	position:relative;

	width:350px;

	height: 260px;

	margin: 20px 12px;

	z-index: 10;

	

}



#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2 .btn_gal{

	position:relative;

	float:left;

	width:2px;

	height: 340px;

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido2 .btn_gal input{

	margin-left:-4px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3{

	position:relative;

	float:left;

	width:100%;

	height: auto;

	background-color: #fff;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo1{

	float: left;

    height: auto;

    position: relative;

    width: 780px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo2{

	position:relative;

	float:left;

	width:100%;

	height: 32px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo2 a{

	font-family:"IstokWebRegular";

	color:#E32E7A;

	font-size: 18px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo2 a:hover{

	font-family:"IstokWebRegular";

	color:#00B1bE;

	font-size: 18px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo3{

	position:relative;

	float:left;

	width:100%;

	height: 20px;

	background-color: #fff;

	padding: 5px 0;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo3 .facebook{

	font-family:"pompiere_regular";

    color:#00549E;

    font-size: 20px;

    margin: 0px 5px;

    position: absolute;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo3 .twitter{

	font-family:"pompiere_regular";

	color:#38CCFF;

	font-size: 20px;

	margin: 0px 70px;

    position: absolute;

}



#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo3 p{

	margin:-13px 5px;

	

}

#content .wrappmaqueta2 .segundo_con_2 .paginado{

	float: right;

    font-family: "RumpelstiltskinRegular";

    right: 0;

    margin-bottom: 0;

    position: relative;

    width: 170px;

	

}

#content .wrappmaqueta2 .segundo_con_2  .paginado .btn_next_tag{

	background:url("../img/new/DirInfantil_Boton_AnteriorySiguiente_165x30_Normal.png"); 

	background-position: 82.5px 0px; 

	height: 30px; 

	width: 82.5px; 

	margin-top:0px; 

	float:right;

}

#content .wrappmaqueta2 .segundo_con_2  .paginado .btn_next_tag:hover{

	background:url("../img/new/DirInfantil_Boton_AnteriorySiguiente_165x30_Over.png"); 

	background-position: 82.5px 0px; height: 30px; width: 82.5px; 

}

#content .wrappmaqueta2 .segundo_con_2 .paginado .btn_back_tag{ 

	background:url("../img/new/DirInfantil_Boton_AnteriorySiguiente_165x30_Normal.png"); 

	background-position: 0px 0px; 

	height: 30px; 

	width: 82.5px; 

	float:left;

}

#content .wrappmaqueta2 .segundo_con_2  .paginado .btn_back_tag:hover{

	background:url("../img/new/DirInfantil_Boton_AnteriorySiguiente_165x30_Over.png"); 

	background-position: 0px 0px; height: 30px; width: 82.5px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .paginado a{

	font-family:"RumpelstiltskinRegular";

	font-size: 21px;

	color: #00B1bE;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .paginado a:hover{

	font-family:"RumpelstiltskinRegular";

	font-size: 21px;

	color:#E32E7A;

}

.paginado strong{

	

	color:#666;

}



#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar{

	position:relative;

	float:right;

	font-family:"RumpelstiltskinRegular";

	margin-right:20px;

	

}

#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar a{

	font-family:"RumpelstiltskinRegular";

	font-size: 21px;

	color: #00B1bE;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes  .paginadobuscar a:hover{

	font-family:"RumpelstiltskinRegular";

	font-size: 21px;

	color:#E32E7A;

}

.paginadobuscar strong{

	font-size: 21px;

	color:#E32E7A;

}







#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .selected{

	font-family:"IstokWebRegular";

	color:#E32E7A;

}



#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo1 p,#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo2 p {

	color:#E32E7A;

	font-family:"IstokWebBold";

	font-size: 14px;

	margin-left: 5px;

    margin-top: 5px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo1 table{

	width: auto;

	height: auto;

	font-family:"pompiere_regular";

	margin-left: 5px;

    margin-top: 5px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo1 table .titulo{

font-size: 16px;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo1 table .descr{ 

font-size: 16px;

color: #666;

}

#content .wrappmaqueta2 .segundo_con_2 #clientes .contenido3 .leinfo2 p {

	margin-top: -5px !important;

}

#content .wrappmaqueta2 .segundo_con_2 #bg_nosotros .contenido_nosotros{

	position: relative;

	/*margin-left:195px;*/

	margin-left:110px;

	margin-top:60px;	

}

.contenido_nosotros p{

	width: 542px !important;

	padding: 0 !important;

	font-size: 25px !important;

	position: relative !important;

	top: 25px !important;

	line-height: 20px !important;

	

}

#content .wrappmaqueta2 .segundo_con_2 #bg_nosotros .contenido_nosotros h1{

	font-size:50px;

	color:#5EC2A5;

	font-family: "sofiaregular";

}

#content .wrappmaqueta2 .segundo_con_2 #bg_nosotros .contenido_nosotros p{

	font-size:17px;

	color:#666;

	font-family: "pompiere_regular";

	line-height: 17px;

}

#content .wrappmaqueta2 .segundo_con_2 #bg_socialres{

	display:block;

	float:left;

	width:778px;

	height:550px;

	margin-left:10px;

	background: url("../img/new/Contacto_790x550.png") center;

}

#content .wrappmaqueta2 .segundo_con_2 #bg_socialres .contenido_socialres{

	position: relative;

	margin-left:92px;

	margin-top:75px;

	

}

#content .wrappmaqueta2 .segundo_con_2 #bg_socialres .contenido_socialres h1{

	font-size:44px;

	color:#5EC2A5;

	font-family: "sofiaregular";

	

	

}

#content .wrappmaqueta2 .segundo_con_2 #bg_socialres .contenido_socialres p{

	font-size:15px;

	color:#666;

	font-family: "pompiere_regular";

}

#content .wrappmaqueta2 .segundo_con_2 #bg_socialres .contenido_socialres .mitz{

	display:block;

	cursor:pointer;

	border:none;

	float:left;

	width:80px;

	height:110px;

	margin-left:0px;

	background: url("../img/enfant_logo_Mitz.png") center;

	

}

.contenido_socialres p{

	position: relative !important;

	width: 450px !important;

	padding: 0 !important;

	font-size: 25px !important;

	top: 0px !important;

}



#content .wrappmaqueta2 .segundo_con_2 #bg_contacto{

	display:block;

	float:left;

	width:778px;

	height:550px;

	margin-left:10px;

	background: url("../img/new/Contacto_790x550.png") center;

	

}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1{

	position:relative;

float:left;

width:410px;



height:550px;	

}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 h1{

    position: relative;

	margin-left:40px;

	margin-top:30px; 

	font-size:44px;

	color:#5EC2A5;

	font-family: "sofiaregular";

	}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto{

	position:relative;

	margin-left:40px;

	margin-top:-10px;

	font-size:25px;

	color:#4D4D4D;

	height:500px;

	font-family: "pompiere_regular";

}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto .etiquetas{

		position:relative;

float:left;

width:100px;

line-height:28px;

height:550px;	

}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto .etiquetas p{

	margin-top:10px;

}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto .inputs{

		position:relative;

float:left;

width:250px;



height:550px;	

}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto .inputs input,#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto .inputs textarea{

	margin-top:10px;

}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto #commentForm table tbody tr td .input01{

	background:url("../img/new/Contacto_Campo01_250x20.jpg") left top no-repeat;

	width:250px;

	height: 20px;

	border:none;



}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto #commentForm table tbody tr td .input01:hover,

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto #commentForm table tbody tr td .input01:focus{

	background:url("../img/new/Contacto_Campo01_250x20_Over.jpg");

	box-shadow: none;

	border: none;

}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto #commentForm table tbody tr td select{

	background:url("../img/new/Contacto_Campo02_250x20_Normal.jpg") left top no-repeat;

	width:247px;

	height: 20px;

	border:none;



}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto #commentForm table tbody tr td select:hover,

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen1 #fomcontacto #commentForm table tbody tr td select:focus{

	background:url("../img/new/Contacto_Campo02_250x20.jpg");

	box-shadow: none;

	border: none;

}

#commentForm .input2{

	background:url("../img/input02.png") left top no-repeat;

}

/*#commentForm input[type="text"]{

	border: solid 1px #FFF;	

	width: 250px;

	height: 20px;

}*/



#commentForm input[type="submit"]{

	width: 120px;

	height: 20px; 

	border: none;

	background:url("../img/boton-enviar.png") left top no-repeat;

	cursor: pointer;

}

#commentForm input[type="submit"]:hover{

	background:url("../img/boton-enviar-over.png") left top no-repeat;

}





#commentForm textarea{

	border: solid 1px #FFF;	

	width: 253px;

	height: 150px;

}



#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2{

position:relative;

float:left;

width:350px;



height:100%;	

}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro1{

	position:relative;

float:left;



height:175px;

width:100%;

}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro1 p{

	position:relative;

	margin-left:40px;

	margin-top:80px;

	font-size:40px;

	color:#4D4D4D;

	font-family: "pompiere_regular";

}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2{

	position:relative;

float:left;



height:80px;

width:100%;

}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 p{

	position:relative;

	margin-left:40px;

	margin-top:14px;

	font-size:25px;

	color:#4D4D4D;

	font-family: "pompiere_regular";

}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro3{

	position:relative;

float:left;



height:289px;

width:100%;

}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro3 p{

	position:relative;

	margin-left:40px;

	margin-top:25px;

	font-size:25px;

	line-height:30px;

	color:#4D4D4D;

	font-family: "pompiere_regular";

}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 .contactofb{

	background:url("../img/new/ico_fb_40x40.png"); height: 40px; width: 40px; display: block;

	}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 .contactofb:hover{

	background:url("../img/new/ico_fb_40x40_Over.png"); height: 40px; width: 40px; display: block;

}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 .contactotw{

	background:url("../img/new/ico_twitter_40x40.png"); height: 40px; width: 40px; display: block; 

}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 .contactotw:hover{

	background:url("../img/new/ico_twitter_40x40_Over.png"); height: 40px; width: 40px; display: block; 

	

}



#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 .contactopn{

	background:url("../img/new/ico_Pinterest_40x40.png"); height: 40px; width: 40px; display: block; 

}

#content .wrappmaqueta2 .segundo_con_2 #bg_contacto .margen2 .cuadro2 .contactopn:hover{

	background:url("../img/new/ico_Pinterest_40x40_Over.png"); height: 40px; width: 40px; display: block; 

}

#content .wrappmaqueta2 .segundo_con_2  #menu_con2{

	float:left;

	margin-top:-5px;

	width:auto;

	height:35px;

	margin-left:-30px;

}



#content .wrappmaqueta2 .segundo_con_2  #menu_con2 ul {

	margin-top:-5px;

   margin-left:2px;

   width:auto;

}

#content .wrappmaqueta2 .segundo_con_2 #menu_con2 li {



display: block;

    float:left;

    height: auto;

    margin: 0 18px 0 0;

    margin-top: 5px;

    text-align: right;

}

#content .wrappmaqueta2 .segundo_con_2 #menu_con2 li, #content .wrappmaqueta2 .segundo_con_2 #menu_con2 li,a {

	color: #5EC2A5;

    font-family: 'pompiere_regular';

    font-size: 26px;

    text-decoration: none;

}

  #content .wrappmaqueta2 .segundo_con_2 #menu_con2   a:hover, #content .wrappmaqueta2 .segundo_con_2 #menu_con2 a.active{

font-family:'pompiere_regular';

        color: #E69176;

}





#content .wrapp .con1 .segundo_con #nino{

	float:right;

	

	

}





#content .wrapp .con1 .primer_con #search{

	display: block;

    float: left;

    height: 30px;

    margin-top: 5px;

    width: 285px;

	

}

#content .wrapp .con1 .primer_con #leftmenu{

	display:block;

	width:285px;

	height:auto;

	float:left;

	margin-top:25px;

	

}



#content .wrapp .con1 .primer_con #leftmenu ul{

	position:relative;

	float: left;

	

	

}

#content .wrapp .con1 .primer_con #leftmenu li{



	display:block;

	float: right;

	height: 40px;

	margin: -2px 0px 0px -38px !important;

}

#content .wrapp .con1 .primer_con #leftmenu  a{

	display:block;

}



#content .wrapp .con1 .segundo_con #menu_con{

	float: left;

    height: 30px;

    margin-bottom: 0;

    margin-left: -24px !important;

    margin-top: 5px;

    width: 700px;

}



#content .wrapp .con1 .segundo_con #menu_con ul{

	margin-top:-5px;

   margin-left:2px;

   width: 1000px !important;

}

#content .wrapp .con1 .segundo_con #menu_con li{



display: block;

    float:left;

    height: 20px;

    margin: 0 9px 0 0;

    margin-top: 5px;

    text-align: right;

    list-style:none;

}

 #menu_con li, #menu_con li a {

	font-family:'pompiere_regular';

	

	font-size: 26px;

	color: #5EC2A5;

	

    text-decoration: none;

}

  #content .wrapp .con1 .segundo_con #menu_con   a:hover, #content .wrapp .con1 .segundo_con #menu_con a.active{

font-family:'pompiere_regular';

        color: #E69176;

}





/* slider principal -----*/

#content .wrapp .nosotros{

	position:absolute;

	background: url("../img/q-somos.png") center top repeat-x;

	z-index:20;

	width:700px;

	height:550px;

	margin-left: 300px;

    margin-top: -400px;

}

#content .wrapp .con1 .segundo_con #slider{

	float:right;

	z-index:4;

	width:700px;

    height:404px;

	

}

#miCarrusel{

	position:relative;

	width:704px;

    height:386px;

	z-index:9999 !important;

	background:url("../img/Destacados_MarcoConSombra_710x390px.png");

	

}





#content .wrapp .con1 .segundo_con #slider .trans_gal{

	background: url("../img/transparencia.png") repeat-x; 

	width: 680px; 

	height:85px; 

	padding: 10px; 

	z-index:100;

	margin-top:273px;

/*	height:400px;*/

	

}

#content .wrapp .con1 .segundo_con #slider .trans_gal .dest1{

	float:left;

	height:86px; 

	width: 130px; 

}

#content .wrapp .con1 .segundo_con #slider .trans_gal .dest2{

	float: left;

    height: 60px;

    margin-top: 30px;

    width: 450px;

}

#content .wrapp .con1 .segundo_con #slider .trans_gal .dest3{

	float:left;

	width: 450px;

	height: 20px; 

	text-align:right;

}

#content .wrapp .con1 .segundo_con #slider .trans_gal a{

	font-family:'RumpelstiltskinRegular';

	z-index:999!important;

	font-size: 21px;

	color: #00B1bE;

}

#content .wrapp .con1 .segundo_con #slider .trans_gal a:hover{

	font-family:'RumpelstiltskinRegular';

	

	font-size: 21px;

	color: #891b64;

}



#content .wrapp .con1 .segundo_con #slider #slider-catch{

	background: #fff;

	padding: 5px;

	height: 376px;

	overflow: hidden;

}

#content .wrapp .con1 .segundo_con #slider #slider-catch #catch-image-gallery{

	

	overflow: hidden;

}



#content .wrapp .con1 .segundo_con #slider #slider-catch #catch-image-gallery ul li{

	width: 696px;

	height: 376px;

	background: #FFFFFF;

	

}



#content .wrapp .con1 .segundo_con #slider  #slider-catch #catch-caption-list{

	height: 105px;

	width: 696px;

	background: #ddd;

	position: relative;

	bottom: 131px;

}



#content .wrapp .con1 .segundo_con #slider  #slider-catch #caption-list{

	color: #000;

	position: relative;

	bottom: 220px;

	text-decoration: none;

}









#content .wrapp .con2{

	float:left;

	margin-top:10px;

	height: 375px;

	width:1000px;

	

}

#content .wrapp .con2 #div1{

	float:left;

	height:360px;

	width: 290px;

	

}

#content .wrapp .con2 #div1 .tabla{

	font-family:"IstokWebBold";

	font-size: 14px;

	color: #00847a;

}



#content .wrapp .con2 #div1 .tabla2{

	font-family:"pompiere_regular";

	font-size: 18px;

	color: #666;

	

}

#content .wrapp .con2 #div1 .tabla2 a{

	font-family:"pompiere_regular";

	font-size: 18px;

	color: #86C0BB;

}

#content .wrapp .con2 #div1 .tabla2 a:hover{

	font-family:"pompiere_regular";

	font-size: 18px;

	color: #891b64;

}

#content .wrapp .con2 #div2{

	float:left;

	height:370px;

	width: 350px;

	background-repeat:no-repeat;

	

}

#content .wrapp .con2 #div1 #divcontainar1 {

	position:relative;

	float:left;

	width: 290px;

	height: 300px;

	

}

#content .wrapp .con2 #div1 #divcontainar1 table{

font-family:"pompiere_regular";

	font-size: 18px;

	color: #666;

	margin-left: 15px;

    margin-top: 40px;

    width: 275px;

}

#content .wrapp .con2 #div1 #divcontainar1 table tr{

	height:45px;

}

#content .wrapp .con2 #div1 #divcontainar2 {

	position:relative;

	float:left;

	width: 290px;

	height: 50px;

	

}

#content .wrapp .con2 #div1 #divcontainar2 #anuncio1{

	display: block;

    float: right;

    height: 25px;

    margin-bottom: 0;

    position: relative;

    top: 35px;

    width: 150px;

}

#content .wrapp .con2 #div2 #anuncio2{

	float:right;

	margin-top:335px;

	width: 150px;

	height: 25px;

}

#content .wrapp .con2 #div3{

	float:left;

	height:305px;

	width: 360px;

	

}

#content .wrapp .con2 #div3 #contactoRevista{

	float: left;

    height: 140px;

    width: 346px;

    margin-left:7px;

    display:block;

    cursor:pointer;

	background:url("../img/new/Inicio_BannerRevista_346x140.png") top center no-repeat;

	

}

#content .wrapp .con2 #div3 .promos{

	float: left;

    height: 140px;

    width: 360px;

	background:url("../img/new/BG_Participa_346x160px.png") top center no-repeat;

	

}

#content .wrapp .con2 #div3 .promos .part1{ width: 365px; height:70px; position:relative; float:left; }

#content .wrapp .con2 #div3 .promos .part2{ width: 365px; height:auto; position:relative; float:left;}

#content .wrapp .con2 #div3 .promos .part2 .campo{ width: 160px; height:23px; position:relative; float:left; margin-left:10px;}

#content .wrapp .con2 #div3 .promos .part2 .campo1{width: 365px; height:40px; position:relative; float:left; }

#content .wrapp .con2 #div3 .promos .part2 .campo1 input{float: right; margin-top:0px; margin-right:25px;}

#content .wrapp .con2 #div3 .promos .part1 h3{ 

	background:url("../img/new/BG_Participa_207x204.png");

	background-position: -58px 0px;

	margin:10px 25px;

	width: 100px;

	height: 20px;

	padding: 0;

}

#content .wrapp .con2 #div4{

	float:right;

	height:65px;

	width: 360px;

	margin-top:-5px;

	

}

#content .wrapp .con2 #div4 .letra{

	font-family:'IstokWebBold';

	color: #00847a;

}

/*pie de pagina*/

#wrapp #footer {

	height: auto;

    position: relative;

    width: 1000px;

    margin:auto;

}

#footer .wrapp{

	

	height: auto;

	margin:0 !important;

	z-index:10;

}



#footer .wrapp .img4{

	width: 595px;

	height: 128px;

	float: left;

	

	

}



#footer .wrapp .img3{

	 width: 380px;

	 height: 128px;

	 float: left;

	

	

}

#footer .wrapp .separador{

	

    display: block;

    float: left;

    height: 0px;

    

    width: 1000px;

}

#footer .wrapp .social{

	background: url("../img/new/footer_reg_clases_03.png") center bottom no-repeat;

	width:1000px;

	height:500px;   

	float:left;

	top:10px;

	background-position: 0 25px;

	

}

#footer .wrapp .social .wrappsocial{

	

    float: right;

    height: 217px;

    margin-right: 23px;

    margin-top: 38px;

    

    width: 207px;

	

}

#footer .wrapp .social .wrappsocial .divtwitter{

	font-family: "pompiere_regular";

   float:left;

    height: 290px;

    width: 207px;

    overflow: hidden;

    margin-top:105px;

}



#footer .wrapp .social .wrappsocial .divtwitter a{

font-size:12px;	

text-decoration:underline;

color:#0092BB;

font-family: "IstokWebRegular";

font-weight:bold;

}

#footer .wrapp .social .wrappsocial .divtwitter span{

font-size:10px;	

text-align:justify;

color:#0092BB;



}

#footer .wrapp .social .wrappsocial .divtwitter ul li{

font-size:13px;	

font-family: "IstokWebRegular";



text-decoration:none;

list-style:none;

float:left;

width: 200px;

margin-top:5px;

padding:1px 1px 1px 1px;

border-bottom:solid 1px #0092BB;

}

#footer .wrapp .social .wrappsocial .divtwfb{

	

    float:left;

    height: 100px;

    width: 207px;

}

#footer .wrapp .social .wrappsocial .divtwfb .divUnoFeliz{

float:left;

    height: 50px;

    width: 164px;

}

#footer .wrapp .social .wrappsocial .divtwfb .divdosFeliz{

float:right;

width: 150px;

    height: 50px;

}

#footer .wrapp .contacto{

	width:1000px;

	height:45px;

	float:left;

	color: #fffbcc;

	font-size: 26px;

	font-family:'pompiere_regular';

	margin-top:-70px;

		

}

.contacto a{

	font-family:'pompiere_regular';

	

	font-size: 14px;

	color: #fffbcc;

	

    text-decoration: none;

}



#footer .wrapp .menufooter{

	float: left;

    height: 30px;

    margin-top: -35px;

    width: 1000px;

	

}

#footer .wrapp .menufooter ul {

   margin-top:0px;

   margin-left:-35px;

   font-family:'ArchitectsDaughterRegular';

}

#footer .wrapp .menufooter li {

    display: block;

    float:left;

    height: 20px;

    margin: 0 20px 0 0;

    margin-top: 5px;

    text-align: right;

}



 .menufooter li, .menufooter li a {

	font-family:'pompiere_regular';

	

	font-size: 26px;

	color: #fffbcc;

	

    text-decoration: none;

}

  #footer .wrapp .menufooter  a:hover, #footer .wrapp .menufooter a.active{

font-family:'pompiere_regular';

        color: #D5826B;

}



/*#footer .wrapp .dino{

	position: relative;

	width:130px;

	height:170px;

	bottom: -3px;

	left:-130px;

	background: url("../img/Umoustro.png");

	z-index: -2;

	border:solid 1px #000000;

}*/

.revistaContacto{

	width:300px;

	height:160px;

	margin:auto;

	position:relative;

	background:none;

	

}

.revistaContacto .campo1{

	width:310px;

	height:30px;

	float:left;

	position:relative;



}

.revistaContacto .campo2{

	width:310px;

	height:30px;

	float:left;

	position:relative;



}



.revistaContacto form{

	width:300px;

	height:160px;

	font-size: 25px;

	font-family:"pompiere_regular";

}

.revistaContacto .campo1 label{

	float:left;

	margin-top:10px;

}

.revistaContacto .campo1 input{

	float:right;

	width:200px;

	margin-top:5px;

}

.revistaContacto .campo1 textarea{

	float:right;

	width:200px !important;

	height:60px !important;

	margin-top:5px;

}

.revistaContacto form legend,.revistaContacto form fieldset{

	border:none;

}

.revistaContacto .enviar{

	background:url("../img/new/Boton_Participa_70x50.png"); 

	background-position: 0px 0px;

	height: 25px; 

	width:70px; 

	cursor:pointer; 

	border:none; 

	float:right; 

	margin-top:39px;

}

.revistaContacto .enviar:hover{

	background:url("../img/new/Boton_Participa_70x50.png");

	background-position: 0px -25px;

}



.b-overlay-next{

	/*background:url('../img/301.gif') center no-repeat;*/

	z-index:0;

}



/*

 *NUEVO DE TODO UN POCO

 */



 .todo-title-bg{

 	width:220px;

	height:26px;

	background: #87296F;

	/* url("../img/head.png") no-repeat */

	position:relative;



 }



 .todo-title-bg h3{

 	color: #FFFFFF;

    font-family: 'pompiere_regular';

    font-size: 20px;

    margin: 3px 10px;

 }

 .todo-title-bg h3 a{

  font-weight: 100 !important;

 }

 .todo-title-bg h3 a:hover

 {

 	color:#B87AA2;

 }

 .todo-content-n{

 	cursor: pointer;

 	height: auto;

 	position: relative;

 	width: 220px;

 }



 .row-a{

 	background: #F2F2F2;

 }



 .row-b{

 	background: #E3E4E7;

 }



 .todo-content-n h4{

 	margin: 0 10px;

 	color: #808080;

    font-family: 'sofia_prolight';

    font-size: 13px;

 }

 .bullet{

 	width:20px;

	height:20px;

	background:url("../img/new/bullet_20x40.png") no-repeat;

	background-position: 0px 0px;

	position:relative;

	margin-left:20px;

	cursor: pointer;

	float:left;

 }

 .bullet:hover{

 	background-position: 0px -20px;

 }

 .regresar{

 	float: right;

 	margin-left: 20px;

 	font-family: 'sf_cartoonist_handregular';

    font-size: 25px;

    color: #891B63;

 }

 .regresar:hover{

 	color: #B87AA2;

 }

.relleno{

	background:#87296F;

	height:auto;

	width: 220px;

	position: relative;

}

.relleno p{

	color:#fff;

	margin:0;

	padding:0 10px;

	font-family: 'sofia_prolight';

	font-size: 13px;

}

.guia_zona_poniente_a{

	font-family: 'pompiere_regular';

    font-size: 25px;

}

.guia_zona_poniente_a:hover{

	color: #666 !important;

}