/* CORE STYLES*/

	/* noty bar */
	.noty_bar.noty_theme_growl {
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-size: 11px;
    background: rgba(0,0,0,0.8);
    border: 2px solid #222;
    color: white;
	}
  .noty_bar.noty_theme_growl:hover {
    border-color: white;
  }
  .noty_bar.noty_theme_growl.noty_layout_top:hover, .noty_bar.noty_theme_growl.noty_layout_bottom:hover {
    border-color: #222;
  }
	
	/* custom container */
	.noty_custom_container.noty_theme_growl.noty_layout_inline {
		position: relative;
	}
	
	/* custom growl container */
	.noty_custom_container.noty_theme_growl.noty_layout_inline .noty_cont.noty_layout_inline {
		position: static;
	}
		/* custom noty bar */
		.noty_custom_container.noty_theme_growl.noty_layout_inline .noty_bar {
			position: static;
		}
			.noty_custom_container.noty_theme_growl.noty_layout_inline .noty_bar .noty_message {
				font-size: 13px;
				padding: 4px;
			}
				.noty_custom_container.noty_theme_growl.noty_layout_inline .noty_bar .noty_message .noty_buttons {
					margin-top: -1px;
				}
	
	/* noty_message */
	.noty_bar.noty_theme_growl .noty_message {
		padding: 10px 10px;
	}
	.noty_bar.noty_theme_growl .noty_message a {
		color: #CCC;
    text-decoration: underline;
	}
	.noty_bar.noty_theme_growl .noty_message .header {
    font-size: 14px;
    font-weight: bold;
    padding: 0 0 7px 0;
    display: block;
    text-shadow: 1px 1px 0 black;
  }
	.noty_bar.noty_theme_growl .noty_message .icon {
    height: 100%;
    float:left;
  }
  .noty_bar.noty_theme_growl .noty_message .icon img {
    width:48px;
    height:48px;
    margin-right: 10px;
    margin-bottom: 10px;
  }
	/* noty_has_close_button */
	.noty_bar.noty_theme_growl.noty_closable .noty_message {
		padding: 8px 35px 8px 14px;
	}
	
	/* noty_buttons */
	.noty_bar.noty_theme_growl .noty_message .noty_buttons {
		float: right;
		margin-top: -5px;
		margin-left: 4px;
	}
	
	/* noty_button */
	.noty_bar.noty_theme_growl .noty_message .noty_buttons button {
		margin-left: 5px;
	}
	
	/* noty close button */
	.noty_bar.noty_theme_growl .noty_close {
    display: none !important;
		position: absolute;
		top: 0px;
		left: 4px;
		font-size: 18px;
		line-height: 18px;
		font-weight: bold;
		color: #eee;
		opacity: 0.2;
		text-shadow: 0 1px 0 #fff;
	}
	.noty_bar.noty_theme_growl:hover .noty_close {
    display: block !important;
  }
	
	/* noty close button hover */
	.noty_bar.noty_theme_growl .noty_close:hover {
		opacity: 0.4;
	}
	
	.noty_bar.noty_theme_growl .noty_close:after {
		content: "✘";
	}
	
	/* noty modal */
	.noty_modal.noty_theme_growl {
		opacity: 0.7;
	}
	
/* LAYOUTS */

	/* noty_layout_topLeft & noty_layout_topRight */
	.noty_bar.noty_theme_growl.noty_layout_center,
	.noty_bar.noty_theme_growl.noty_layout_topCenter,
	.noty_bar.noty_theme_growl.noty_layout_topLeft,
	.noty_bar.noty_theme_growl.noty_layout_topRight,
	.noty_bar.noty_theme_growl.noty_layout_bottomLeft,
	.noty_bar.noty_theme_growl.noty_layout_bottomRight {
		-webkit-border-radius: 9px;
		-moz-border-radius: 9px;
		border-radius: 9px;
	}
	.noty_bar.noty_theme_growl.noty_layout_topLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_growl.noty_layout_topRight .noty_message .noty_buttons,
	.noty_bar.noty_theme_growl.noty_layout_bottomLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_growl.noty_layout_bottomRight .noty_message .noty_buttons {
		float: none;
		border-top: 1px solid #222;
	  margin-left: 0;
	  margin-top: 10px;
	  padding-top: 10px;
	  text-align: right;
	}
	
	.noty_bar.noty_theme_growl.noty_layout_center .noty_message .noty_buttons,
	.noty_bar.noty_theme_growl.noty_layout_topCenter .noty_message .noty_buttons {
		margin-left: 15px;
		margin-top: -2px
	}
	
/* NOTIFICATION TYPES */

	/* noty_notification */
	.noty_bar.noty_theme_growl.noty_notification {
		
	}
  
	/* noty_warning */
	.noty_bar.noty_theme_growl.noty_warning {
		
	}
  
	/* noty_alert */
	.noty_bar.noty_theme_growl.noty_alert {
		
	}
  
	/* noty_error */
	.noty_bar.noty_theme_growl.noty_error {
		
	}
  
	/* noty_success */
	.noty_bar.noty_theme_growl.noty_success {
		
	}
  
	/* noty_information */
	.noty_bar.noty_theme_growl.noty_information {
		
	}
  