.sprite-image.anuncio_btn { background-position:  -0px -0px; height: 85px; width: 87px; }
.sprite-image.anuncio_btn_over { background-position:  -0px -85px; height: 85px; width: 87px; }
.sprite-image.blog_btn { background-position:  -0px -170px; height: 85px; width: 80px; }
.sprite-image.blog_bt_over { background-position:  -0px -255px; height: 85px; width: 80px; }
.sprite-image.buttons_over { background-position:  -87px -0px; height: 33px; width: 282px; }
.sprite-image.clases_btn { background-position:  -369px -0px; height: 33px; width: 282px; }
.sprite-image.clases_btn_over { background-position:  -651px -0px; height: 33px; width: 281px; }
.sprite-image.contact_link { background-position:  -87px -33px; height: 65px; width: 360px; }
.sprite-image.container_anunciate { background-position:  -87px -98px; height: 370px; width: 350px; }
.sprite-image.container_blog { background-position:  -87px -468px; height: 370px; width: 290px; }
.sprite-image.detodo_btn { background-position:  -447px -33px; height: 33px; width: 282px; }
.sprite-image.detodo_btn_over { background-position:  -729px -33px; height: 33px; width: 282px; }
.sprite-image.diversion_btn { background-position:  -87px -838px; height: 33px; width: 282px; }
.sprite-image.diversion_btn_over { background-position:  -87px -871px; height: 33px; width: 282px; }
.sprite-image.fiesta_btn { background-position:  -87px -904px; height: 33px; width: 282px; }
.sprite-image.fiesta_btn_over { background-position:  -87px -937px; height: 33px; width: 282px; }
.sprite-image.gallery_btn_next { background-position:  -0px -340px; height: 22px; width: 25px; }
.sprite-image.gallery_btn_next_over { background-position:  -25px -340px; height: 22px; width: 25px; }
.sprite-image.gallery_btn_prev { background-position:  -50px -340px; height: 22px; width: 25px; }
.sprite-image.gallery_btn_prev_over { background-position:  -0px -362px; height: 22px; width: 25px; }
.sprite-image.logo_principal { background-position:  -437px -98px; height: 155px; width: 280px; }
.sprite-image.mama_btn { background-position:  -717px -98px; height: 33px; width: 282px; }
.sprite-image.mama_btn_over { background-position:  -717px -131px; height: 33px; width: 282px; }
.sprite-image.ropa_btn { background-position:  -717px -164px; height: 33px; width: 282px; }
.sprite-image.ropa_btn_over { background-position:  -717px -197px; height: 33px; width: 282px; }
.sprite-image.salud_btn { background-position:  -437px -253px; height: 33px; width: 282px; }
.sprite-image.salud_btn_over { background-position:  -719px -253px; height: 33px; width: 281px; }
.sprite-image.search_bg { background-position:  -437px -286px; height: 35px; width: 280px; }
.sprite-image.search_btn { background-position:  -717px -286px; height: 35px; width: 280px; }
.sprite-image.search_btn_over { background-position:  -437px -321px; height: 35px; width: 280px; }
.sprite-image.search_input { background-position:  -717px -321px; height: 35px; width: 280px; }
.sprite-image.socialFB_btn { background-position:  -0px -384px; height: 65px; width: 42px; }
.sprite-image.socialT_btn { background-position:  -0px -449px; height: 72px; width: 42px; }
.sprite-image.star_fb_btn { background-position:  -42px -384px; height: 35px; width: 37px; }
.sprite-image.star_fb_btn_over { background-position:  -42px -449px; height: 35px; width: 37px; }
.sprite-image.star_tweet_btn { background-position:  -42px -484px; height: 35px; width: 37px; }
.sprite-image.star_tweet_btn_over { background-position:  -0px -521px; height: 35px; width: 37px; }
