@font-face {
    font-family: 'IstokWebRegular';
    src: url('../font/istokweb-regular-webfont.eot');
    src: url('../font/istokweb-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/istokweb-regular-webfont.woff') format('woff'),
         url('../font/istokweb-regular-webfont.ttf') format('truetype'),
         url('../font/istokweb-regular-webfont.svg#IstokWebRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
#content-tweets a.link-tweet{ margin-bottom:10px;display:block;position:relative; overflow:hidden;}
#content-tweets a.link-tweet:hover{background: url("../img/new/transparencia.png") repeat}
#content-tweets a.link-tweet img{display:block; float:left;}
#content-tweets a.link-tweet span{display:block;  float:right;}
#content-tweets a.link-tweet span span.top{position:relative; float:left;}
#content-tweets a.link-tweet span span.top span.name{width:72%;color:#5EC2A5 !important;font-size: 12px !important; font-weight: bold; float: left; text-decoration: none;}
#content-tweets a.link-tweet span span.top span.screen-name{width:10%;color:#77D2EB !important;font-size: 10px !important; font-weight: 100; float: left; text-decoration: none;}
#content-tweets a.link-tweet span span.content{position:relative; float:left; width:100%;}
#content-tweets a.link-tweet span span.content p{ font-family: 'IstokWebRegular'; position:relative; float:left; color:#E69176; width:100%; font-size:11px;margin:2px 0px !important; font-weight: 100;}