.rslides {

  position: relative;

  list-style: none;

  overflow: hidden;

  width: 100%;

  padding: 0;

  margin: 0;

  }



.rslides li {

  -webkit-backface-visibility: hidden;

  position: absolute;

  display: none;

  width: 100%;

  left: 0;

  top: 0;

  }



.rslides li:first-child {

  position: relative;

  display: block;

  float: left;

  }



.rslides img {

  display: block;

  height: auto;

  float: left;

  width: 100%;

  border: 0;

  }



.rslides_tabs{

  overflow:hidden;

  list-style:none;

  height:20px;

  display: inline-block;

  margin: 0;

  padding: 0;

  /* For IE, the outcast */

  zoom:1;

  *display: inline;

  position:absolute;

  left:26%;

  margin-top:5px;

  }



.rslides_tabs li a, .rslides_tabs li{

  float: left;

}



.rslides_tabs li{

  width:10px;

  height:10px;

  display:block;

  background:url(bullets.png) no-repeat;

  margin-right:10px;

}



.rslides_tabs li a{

  width:20px;

  height:10px;

  display:block;

}



.rslides_tabs li.rslides_here{

  background-position:-10px 0 !important;

}



.rslides_nav{

  position:absolute;

  width:50px;

  height:130px;

  margin-top: -270px;

  z-index: 3;

  text-indent: 999999999999999px;

}



.next{

  margin-left:950px;

  background:url('../../imgs/layout/flecha-der.png') center no-repeat;

}



.prev{

  background:url('../../imgs/layout/flecha-izq.png') center no-repeat;

}