*{
    margin: 0px;
    padding: 0px;
}

body {
    background: #ffffff;
    font: normal 9pt 'helvetica',"Trebuchet MS", sans-serif;
    color: #505050;
}

h1,h2,h3,h4,h5,h6{
    color: #000000;
    font: bold 10pt 'helvetica',"Trebuchet MS", sans-serif;
}

a, a:active, a:focus, a:visited  {
    text-decoration: none;
    color: #505050;
}

a:hover, .active  {
    color: #000000;
}	


ul{
    margin: 10px 20px;
}
li {
    margin: 0px;
    list-style: none;
}
.sprite3{ background:url("../img/sprite2.png"); }
.logo_principal2 { background-position:  -235px -181px; height: 120px; width: 210px; }
/********************************
*		ID	Structure			*
********************************/
#bodyWrap {
    width: 1000px;
    padding: 0px;
    margin: 0px auto;
    overflow: hidden;
}
#header {
    width: 1000px;
    padding: 0px 0px 0px 0px;
    height: 50px;
    clear: both;
}
#header .direccion{
    width: 750px;
    padding-top: 10px;
    height: 40px;
    float: left;
    color: #676767;
    font-weight: bold;
}
#header .logo{
    text-align:right;
    width: 250px;
    height: 50px;
    float: right;
}
#content {
    margin: 10px 0px;
    width: 1000px;
    position: relative;
}
#content .box{
    border: #676767 2px solid;
    overflow: hidden;
    width: 996px;
    margin: 0px 0px 0px 0px;
}

.boxMenu{
    width: 226px;
    padding: 10px;
    float: left;
}	

.boxModul{
    width: 730px;
    padding: 10px;
    float: right;
}

/****************************************
*	CLASES PARA ALINEACION DE TEXTO		*
****************************************/

.textAlignRight{
    text-align: right;
}
.textAlignleft{
    text-align: left;
}
.textAlignCenter{
    text-align: center;
}

/********************************
*			FORMS				*
********************************/

fieldset{
    padding: 10px;
}

legend{
    font-weight: bold;
}

fieldset label{
    width: 140px;
    text-align: right;
    margin: 0px 10px 5px 0px;
    display: inline-block;
    font-weight: bold;
}

fieldset input, fieldset select, fieldset input.check, fieldset input.dot{
    width: 150px;	
    margin: 0px 0px 5px 0px;
}

fieldset input.btn{
    width: 150px;
    margin: 0px 0px 5px 150px;
}

.colLeft{
    float:left;
    overflow: hidden;
    width: 335px;
}
.colRight{
    float:right;
    overflow: hidden;
    width: 335px;
}

span.error{
    margin: 0px 0px 0px 5px;
    padding: 2px 5px;
    background-color: #FFD8DB;
    display: inline-block;
}

/********************************
*			VARIAS				*
********************************/

.formFiltro{
    margin: 10px 0px;
    overflow:hidden;
    text-align: right;
}


table{
    width: 100%;
}
.centerheadings td{
    text-align: center;
}

th{
    height: 40px;
}

td{
    height: 30px;
}

.gray{
    background-color:#FBFBFB;
}

.box1{
    border: #676767 1px solid;
    overflow: hidden;
    width: 660px;
    margin: 0px 0px 0px 0px;
    display:block;
    padding:20px;
    margin:20px 0 20px 0;
}

.box1 h2{
    padding:20px 20px;
}

.AddItem{
    width:90px;
    height:22px;
    display:block;
    background:url('../../images/admin/add_btn.png') no-repeat;
    clear:both;
    float:left;
    margin:10px 0 20px 0;
}

.text{
    width:470px;
    height:150px;
    margin-bottom:20px;
}

